.rapidorder-index-index p {
    max-width: 640px;
    line-height: 1.8em;
}

.fts-rapid-order {
    .fro-td,
    .fro-th {
        padding: 0.6em 0;
    }

    .fro-thead {
        display: none;
    }

    .fro-table {
        margin: 2em 0 1.5em;
        border-top: 2px solid lightslategrey;
        border-bottom: 2px solid lightslategrey;
    }

    .fro-tr {
        border-top: 1px solid #c9c9c9;
        border-bottom: 1px solid #c9c9c9;
    }

    input[type="text"]:disabled {
        opacity: 1;
    }

    label {
        display: block;
        font-weight: bold;
    }

    @media (min-width: 640px) {
        .fro-table {
            display: table;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            max-width: 100%;
        }
        .fro-thead {
            display: table-header-group;
            vertical-align: middle;
            font-weight: bold;
            .fro-th {
                border-top: 2px solid lightslategrey;
                border-bottom: 2px solid lightslategrey;
            }
        }
        .fro-tbody {
            display: table-row-group;
        }
        .fro-tr {
            display: table-row;
            vertical-align: inherit;
        }
        .fro-td,
        .fro-th {
            display: table-cell;
            padding: 0.6em;
            vertical-align: middle;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }

        .fro-tbody .fro-tr {
            &:first-child {
                border-top: 2px solid lightslategrey;
                .fro-td {
                    padding-top: 1em;
                }
            }
            &:not(:first-child) {
                border-top: 1em solid white;
            }
            border-bottom: 1em solid white;
        }
    }

    @media (min-width: 641px) {
        label {
            display: none;
        }

        .fro-atc {
            width: initial;
            padding: 1em 3em;
        }

        .fro-product-col {
            width: 350px;
        }

        .fro-qty-col {
            width: 90px;
        }

        .fro-action-col {
            width: 90px;
            text-align: right;
        }

        .fro-delete-button {
            &::before {
                -webkit-font-smoothing: antialiased;
                font-size: 28px;
                line-height: 28px;
                color: #303030;
                content: "";
                font-family: "icons-blank-theme";
                margin: inherit;
                display: block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
                position: absolute;
                text-indent: -9px;
                margin-top: -5px
            }
            width: 40px;
            height: 40px;
            background: white;
            color: black;
            position: relative;
            text-indent: -99999px;
            border: 0;
        }
    }

    @media (min-width: 960px) {
        .fro-product-col {
            width: 600px;
        }
    }
}
