<?php

/**
 * @var \Hudson\CustomerPricing\Block\AdditionalCharge $block
 */

$_item = $block->getItem();
$product = $_item->getProduct(); // Get cart product details
$additional_data = $block->getAdditionalChargeText($product); // Get cart product additionl details defined in block page
?>
<div>
        <span class="item-addtional-charge"><?php echo $additional_data?></span>
</div>
