<?php
/**
 * Copyright © 2018 Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */

/** @var Mageside\MultipleCustomForms\Block\Widget\CustomForm\Fields\Type\DefaultType $block */

$field = $block->getField();
?>
<div class="field input <?= /* @noEscape */ $field->getRequired() ? 'required' : ''; ?>">
    <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldHtmlId()); ?>">
        <span><?= $block->escapeHtml($field->getTitle()); ?></span>
    </label>
    <div class="control">
        <input  type="text"
                name="<?= $block->escapeHtmlAttr($block->getFieldHtmlName()); ?>"
                id="<?= $block->escapeHtmlAttr($block->getFieldHtmlId()); ?>"
                placeholder="<?= $block->escapeHtmlAttr($field->getPlaceholder()); ?>"
                <?= /* @noEscape */ $block->getValidation(); ?>
                value="<?= $block->escapeHtmlAttr($block->getDefaultValue()); ?>"
                title="<?= $block->escapeHtmlAttr($field->getTitle()); ?>"
                class="input-text" />
    </div>
    <?php if ($block->getComment()) : ?>
        <p class="note"><span><?= $block->escapeHtml($block->getComment()); ?></span></p>
    <?php endif; ?>
</div>
