<?php
/**
 * Copyright © 2018 Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */

/** @var Mageside\MultipleCustomForms\Block\Widget\CustomForm\Fields\Type\DefaultType $block */

$field = $block->getField();
?>
<div class="field radio <?= /* @noEscape */ $field->getRequired() ? 'required' : ''; ?>">
    <label class="label" for="region_id">
        <span><?= $block->escapeHtml($field->getTitle()); ?></span>
    </label>
    <div class="control validation-block">
        <?php foreach ($field->getOptions(false) as $option) : ?>
            <input  type="radio"
                    class="radio"
                    id="<?= $block->escapeHtmlAttr($block->getFieldHtmlId($option['value'])); ?>"
                    name="<?= $block->escapeHtmlAttr($block->getFieldHtmlName()); ?>"
                    <?= /* @noEscape */ $block->getValidation(); ?>
                    value="<?= $block->escapeHtmlAttr($option['value']); ?>"
                    <?= /* @noEscape */ $block->isOptionSelected($option['value']) ? 'checked="checked"' : '' ?>
            />
            <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldHtmlId($option['value'])); ?>">
                <span><?= $block->escapeHtml($option['label']); ?></span>
            </label><br>
        <?php endforeach; ?>
        <?php if ($block->getComment()) : ?>
            <p class="note"><span><?= $block->escapeHtml($block->getComment()); ?></span></p>
        <?php endif; ?>
    </div>
</div>


