<?php
/**
 * Copyright © 2018 Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */

/** @var Mageside\MultipleCustomForms\Block\Widget\CustomForm\Fields\Type\DefaultType $block */

$field = $block->getField();
?>
<div class="field textarea <?= /* @noEscape */ $field->getRequired() ? 'required' : ''; ?>">
    <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldHtmlId()); ?>">
        <span><?= $block->escapeHtml($field->getTitle()); ?></span>
    </label>
    <div class="control">
        <textarea   name="<?= $block->escapeHtmlAttr($block->getFieldHtmlName()); ?>"
                    cols="5"
                    rows="3"
                    id="<?= $block->escapeHtmlAttr($field->getId()); ?>"
                    placeholder="<?= $block->escapeHtmlAttr($field->getPlaceholder()); ?>"
                    <?= /* @noEscape */ $block->getValidation(); ?>
                    title="<?= $block->escapeHtmlAttr($field->getTitle()); ?>"
                    class="input-text"><?= $block->escapeHtml($block->getDefaultValue()); ?></textarea>
        <?php if ($block->getComment()) : ?>
            <p class="note"><span><?= $block->escapeHtml($block->getComment()); ?></span></p>
        <?php endif; ?>
    </div>
</div>
