.block.newsletter {

    .form.subscribe {
        display: table;
        width: 100%;
    }

    .fieldset {
        display: table-cell;
        padding: 0;
        vertical-align: top;
    }

    .field {
        margin: 0;
    }

    .title {
        display: none;
    }

    .label {
        @extend .abs-visually-hidden;
    }

    .actions {
        display: table-cell;
        vertical-align: top;
        width: 1%;
    }

    .action.subscribe {
        border-radius: 0px;
        margin-left: -1px;
        background-color: #f0082e;
        border: none;
        font-weight: 200;
        padding: 12px;
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .block.newsletter {

        .field {
            margin-right: 5px;

            .control {
                width: 100%;
            }
        }

    }
}
