<?php
/**
 * Copyright Â© Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_order = $block->getOrder() ?>
<?php /* @var $_order \Hudson\SampleRoom\Model\Order */ ?>
<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <table style="width: 630px; text-align: center;">
        <thead>
        <tr>
            <th class="item-qty" style="border: 1px solid black; text-align: left; padding-left: 15px; padding-right:15px; height: 20px; width: auto; margin: auto;">
                <?= /* @escapeNotVerified */
                __('Qty') ?>
            </th>
            <th class="item-sku" style="border: 1px solid black; text-align: left; padding-left: 15px; padding-right:15px; height: 20px; width: auto; margin: auto;">
                <?= /* @escapeNotVerified */
                __('Sample') ?>
            </th>

            <th class="item-price" style="border: 1px solid black; text-align: left; padding-left: 15px; padding-right:15px; height: 20px; width: auto; margin: auto;">
                <?= /* @escapeNotVerified */
                __('Total') ?>
            </th>
        </tr>
        </thead>
        <tbody>

        <?php foreach ($_items as $_item): ?>
            <tr>
                <th class="item-qty" style="border: 1px solid black; text-align: left; padding-left: 15px; padding-right:15px; height: 20px; width: auto; margin: auto;">
                    1
                </th>
                <th class="item-sku" style="border: 1px solid black; text-align: left; padding-left: 15px; padding-right:15px; height: 20px; width: auto; margin: auto;">
                    <?php echo $_item->getName() ?>
                    <br/>
                    <?php echo $_item->getSku() ?>
                </th>

                <th class="item-price" style="border: 1px solid black; text-align: left; padding-left: 15px; padding-right:15px; height: 20px; width: auto; margin: auto;">
                    FREE
                </th>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>