<div id="invoice-payments" class="payments">
<?php echo $block->getChildHtml('payment_form') ?>
<?php echo $block->getChildHtml('payment_grid') ?>
</div>

<script type="text/javascript">
    require(
        ["jquery"],
        function($) {
            $(document).ready(function() {
                /*Add payment */
                $('#bsi_bsip_submit').on('click', function(){
                    var date = $('#invoice-payments').find('#bsi_bsip_date').val();
                    var method = $('#invoice-payments').find('#bsi_bsip_method').val();
                    var total = $('#invoice-payments').find('#bsi_bsip_total').val();
                    var notes = $('#invoice-payments').find('#bsi_bsip_notes').val();
                    var url = "<?php /* @escapeNotVerified */ echo $block->getSubmitUrl() ?>";
                    
                    if(!isDate(date)){
                        alert('Invalid Date');
                    }

                    if(method == ''){
                        alert('Please select method.');
                        return false;
                    }

                    if(!$.isNumeric(total)){
                        alert('Please insert total.');
                        return false;
                    }

                    $.ajax({
                        url: url,
                        showLoader: true,
                        data: {
                            'bsip_date':date,
                            'bsip_method':method,
                            'bsip_total':total,
                            'bsip_notes':notes
                        },   
                        dataType: 'json',                
                        type: 'POST'
                    }).done(function(data) {
                        $('#invoice-payments').html(data);
                        $('#bsi_bsip_date').calendar({dateFormat: 'mm/dd/yy'});
                    }); 
                });
            });

            function isDate(txtDate)
            {
              var currVal = txtDate;
              if(currVal == '')
                return false;
              
              //Declare Regex  
              var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/; 
              var dtArray = currVal.match(rxDatePattern); // is format OK?

              if (dtArray == null)
                 return false;
             
              //Checks for mm/dd/yyyy format.
              dtMonth = dtArray[1];
              dtDay= dtArray[3];
              dtYear = dtArray[5];

              if (dtMonth < 1 || dtMonth > 12)
                  return false;
              else if (dtDay < 1 || dtDay> 31)
                  return false;
              else if ((dtMonth==4 || dtMonth==6 || dtMonth==9 || dtMonth==11) && dtDay ==31)
                  return false;
              else if (dtMonth == 2)
              {
                 var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
                 if (dtDay> 29 || (dtDay ==29 && !isleap))
                      return false;
              }
              return true;
            }
        }
    );

    if (document.getElementById('span_balance_due'))
        document.getElementById('span_balance_due').innerHTML = '<?php echo $this->getBalanceDueFormatted(); ?>';

</script>


