<?php
/**
 * Copyright © 2015 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="import-export-advancedcustomer">
    <?php if (!$block->getIsReadonly()): ?>
    <div class="import-advancedcustomer">
        <?php if ($block->getUseContainer()): ?>
        <form id="import-form" action="<?php echo $block->getUrl('advancedcustomer/data/importPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Import Advanced Customers') ?></span></legend>
				<div class="admin__field field field-advancedcustomer">
					<label class="label admin__field-label" for="auto_create_customer_groups"><span>Auto Create Customer Groups</span></label>
					<div class="admin__field-control control">
						<select id="auto_create_customer_groups" name="auto_create_customer_groups" title="Auto Create Customer Groups" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
					<label class="label admin__field-label" for="insert_customer_id"><span>Insert Customer ID</span></label>
					<div class="admin__field-control control">
						<select id="insert_customer_id" name="insert_customer_id" title="Insert Customer ID" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
					<!-- <label class="label admin__field-label" for="import_multiple_customer_address"><span>Import Multiple Address</span></label>
					<div class="admin__field-control control">
						<select id="import_multiple_customer_address" name="import_multiple_customer_address" title="Import Multiple Address" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div> -->
					<label class="label admin__field-label" for="update_customer_password"><span>Update Customer Password</span></label>
					<div class="admin__field-control control">
						<select id="update_customer_password" name="update_customer_password" title="Update Customer Password" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
					<br/>
					<div class="admin__field-control control">
						<input type="file" name="import_rates_file" class="input-file required-entry"/>
					</div>
					<div class="admin__field-control control">
					<?php echo $block->getButtonHtml('Import Advanced Customers', '', 'import-submit') ?>
					</div>
				</div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
        <script>
require(['jquery', "mage/mage", "loadingPopup"], function(jQuery){

    jQuery('#import-form').mage('form').mage('validation');
    (function ($) {
        $('.import-submit').click(function(){
            if($(':input[name="import_rates_file"]').val()) {
                $('body').loadingPopup({
                    timeout: false
                });

                $(this.form).submit();
            }
        });
    })(jQuery);

});
</script>
    </div>
    <?php endif; ?>
    <div class="export-advancedcustomer <?php if ($block->getIsReadonly()): ?>box-left<?php else: ?>box-right<?php endif; ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="export_form" action="<?php echo $block->getUrl('advancedcustomer/data/exportPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Export Advanced Customers') ?></span></legend>
				<div class="admin__field field field-advancedcustomer">
                    <label class="label admin__field-label" for="export_customer_id"><span>Export Customer ID</span></label>
            		<div class="admin__field-control control">
               			<select id="export_customer_id" name="export_customer_id" title="Export Customer ID" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
                    </div>
                    <label class="label admin__field-label" for="export_multiple_addresses"><span>Export Multiple Addresses</span></label>
            		<div class="admin__field-control control">
               			<select id="export_multiple_addresses" name="export_multiple_addresses" title="Export Multiple Addresses" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
                    </div>
            		<div class="admin__field-control control">
                	<?php echo $block->getButtonHtml('Export Advanced Customers', "this.form.submit()") ?>
                     </div>
                </div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
    </div>
</div>
