<?php
?>
<div class="import-file-generator-container">
    <?php if (!$block->getIsReadonly()): ?>
        <div class="import-file-generator">
            <?php if ($block->getUseContainer()): ?>
            <form id="import-file-form" action="<?php echo $block->getUrl('createpasswordhash/data/generateFile') ?>" method="post"
                  enctype="multipart/form-data">
                <?php endif; ?>
                <?php echo $block->getBlockHtml('formkey') ?>
                <fieldset class="fieldset">
                    <div class="admin__field field field-productattributes">

                        <label class="label admin__field-label"
                               for="import_rates_file"><span>Upload your source file:</span></label>
                        <div class="admin__field-control control">
                            <input type="file" name="file_import" class="input-file required-entry"/>
                        </div>
                        <div class="admin__field-control control">
                            <?php echo $block->getButtonHtml('Generate Magento Import File', '', 'import-submit', 'import-submit-magento') ?>
                        </div>
                    </div>
                </fieldset>
                <?php if ($block->getUseContainer()): ?>
            </form>
        <?php endif; ?>
        </div>
    <?php endif; ?>
</div>


<script>
    require(['jquery', "mage/mage", "loadingPopup"], function (jQuery) {

        jQuery('#import-file-form').mage('form').mage('validation');


        jQuery('.import-submit').click(function () {


                if (jQuery(':input[name="file_import"]').val()) {

                    jQuery(this.form).submit();
                } else{

                    alert('Please choose a source file!');
                }
            });

    });
</script>