<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method" style="table-layout: fixed;">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
        </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: rates(), as: 'method'} -->
                <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
            <!-- /ko -->
        </tbody>
    </table>
</div>
<style>
    .table-checkout-shipping-method tbody td {
        min-width: 20%;
        border: none;
    }

    .table-checkout-shipping-method tbody tr {
        border-bottom: 1px solid #ccc;
    }

    .table-checkout-shipping-method tbody td:first-child {
        min-width: 20px;
    }
</style>