<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Hudson\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $idAttribute = $block->getIdAttribute(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>

<?php if ($block->isGroupedModuleEnabled()) { ?>
    <?php $attributesToShow = $block->getAttributesToShow() ?>

    <div class="table-wrapper grouped">
        <table class="table data grouped" id="super-product-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */
                echo __('Grouped product items') ?></caption>
            <thead>
            <tr>
                <th class="col item" scope="col">
                    <?php if ($idAttribute) { ?>
                        <?php echo (isset($idAttribute['name'])) ? $idAttribute['name'] : "ERROR"; ?>
                    <?php } else { ?>
                        <?php echo $block->escapeHtml(__('Product Name')); ?>
                    <?php } ?>
                </th>

                <?php if ($attributesToShow !== false) {
                    foreach ($attributesToShow as $attributeCode => $attributeName) {
                        ?>
                        <?php $attr = $_product->getResource()->getAttribute($attributeCode);
                        if (!$attr) continue; ?>
                        <th class="col item" scope="col"><?php /* @escapeNotVerified */
                            echo __($attributeName) ?></th>
                    <?php }
                } ?>

                <?php if ($_product->isSaleable()): ?>
                    <th class="col qty" scope="col"><?php /* @escapeNotVerified */
                        echo __('Qty') ?></th>
                <?php endif; ?>
            </tr>
            </thead>

            <?php if ($_hasAssociatedProducts): ?>
                <?php foreach ($_associatedProducts as $_item): ?>
                    <?php $itemProduct = $block->getProductById($_item->getId()); ?>
                    <tbody>
                    <tr>
                        <td data-th="

                        <?php if ($idAttribute) { ?>
                    <?php echo (isset($idAttribute['name'])) ? $idAttribute['name'] : "ERROR"; ?>
                    <?php } else { ?>
                    <?php echo $block->escapeHtml(__('Product Code')); ?>
                    <?php } ?>

                            " class="col item">

                            <strong class="product-item-name">

                                <?php if ($idAttribute) { ?>
                                    <?php if (isset($idAttribute['code'])) {
                                        $idattr = $_product->getResource()->getAttribute($idAttribute['code']);
                                        if ($idattr) {
                                            $idattrValue = $itemProduct->getData($idAttribute['code']);

                                            if ($idattr->usesSource()) {
                                                echo $block->escapeHtml($idattr->getSource()->getOptionText($idattrValue));

                                            } else {
                                                echo $block->escapeHtml($idattrValue);
                                            }
                                        } else {
                                            echo "ERROR";
                                        }

                                    } else {
                                        echo "ERROR";
                                    }
                                    ?>
                                <?php } else { ?>
                                    <?php echo $block->escapeHtml($item->getSku()) ?>
                                <?php } ?>

                            </strong>

                            <?php echo $block->getBackorderMessage($_item); ?>

                            <?php if ($block->getCanShowProductPrice($_product)): ?>
                                <?php if ($block->getCanShowProductPrice($_item)): ?>
                                    <?php /* @escapeNotVerified */
                                    echo $block->getPriceForProductWithDiscount($_item) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>

                        <?php if ($attributesToShow !== false) {
                            foreach ($attributesToShow as $attributeCode => $attributeName) {
                                ?>
                            <td data-th="<?php echo $block->escapeHtml(__($attributeName)); ?>" class="col item">

                                <?php $attr = $_product->getResource()->getAttribute($attributeCode);
                                if (!$attr) continue; ?>
                                <?php $attrValue = $itemProduct->getData($attributeCode); ?>

                                <?php if ($attr->usesSource()) { ?>
                                    <strong class="product-item-name"><?php echo $block->escapeHtml($attr->getSource()->getOptionText($attrValue)) ?></strong></td>

                                <?php } else { ?>
                                    <strong class="product-item-name"><?php echo $block->escapeHtml($attrValue) ?></strong></td>


                                <?php }
                            }
                        } ?>

                        <?php if ($_product->isSaleable()): ?>
                            <td data-th="<?php echo $block->escapeHtml(__('Qty')); ?>" class="col qty">
                                <?php if ($_item->isSaleable()) : ?>
                                    <div class="control qty">
                                        <input type="number" name="super_group[<?php /* @escapeNotVerified */
                                        echo $_item->getId() ?>]"
                                               data-selector="super_group[<?php /* @escapeNotVerified */
                                               echo $_item->getId() ?>]"
                                               maxlength="12"
                                               value="<?php /* @escapeNotVerified */
                                               echo $_item->getQty() * 1 ?>"
                                               title="<?php /* @escapeNotVerified */
                                               echo __('Qty') ?>"
                                               class="input-text qty"
                                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                               data-errors-message-box="#validation-message-box"/>
                                    </div>
                                <?php else: ?>
                                    <div class="stock unavailable" title="<?php /* @escapeNotVerified */
                                    echo __('Availability') ?>">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Out of stock') ?></span>
                                    </div>
                                <?php endif; ?>
                            </td>
                        <?php endif; ?>
                    </tr>
                    <?php if ($block->getCanShowProductPrice($_product)
                        && $block->getCanShowProductPrice($_item)
                        && trim($block->getProductPriceHtml(
                            $_item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ))
                    ): ?>
                        <tr class="row-tier-price">
                            <td colspan="2">
                                <?php echo $block->getProductPriceHtml(
                                    $_item,
                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                ) ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                <?php endforeach; ?>
            <?php else: ?>
                <tbody>
                <tr>
                    <td class="unavailable"
                        colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>">
                        <?php /* @escapeNotVerified */
                        echo __('No options of this product are available.') ?>
                    </td>
                </tr>
                </tbody>
            <?php endif; ?>
        </table>
    </div>
    <div id="validation-message-box"></div>

<?php } else { ?>

    <div class="table-wrapper grouped">
        <table class="table data grouped" id="super-product-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */
                echo __('Grouped product items') ?></caption>
            <thead>
            <tr>
                <th class="col item" scope="col"><?php /* @escapeNotVerified */
                    echo __('Product Name') ?></th>
                <?php if ($_product->isSaleable()): ?>
                    <th class="col qty" scope="col"><?php /* @escapeNotVerified */
                        echo __('Qty') ?></th>
                <?php endif; ?>
            </tr>
            </thead>

            <?php if ($_hasAssociatedProducts): ?>
                <?php foreach ($_associatedProducts as $_item): ?>
                    <tbody>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>" class="col item">
                            <strong class="product-item-name"><?php echo $block->escapeHtml($_item->getName()) ?></strong>
                            <?php if ($block->getCanShowProductPrice($_product)): ?>
                                <?php if ($block->getCanShowProductPrice($_item)): ?>
                                    <?php /* @escapeNotVerified */
                                    echo $block->getProductPrice($_item) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                        <?php if ($_product->isSaleable()): ?>
                            <td data-th="<?php echo $block->escapeHtml(__('Qty')); ?>" class="col qty">
                                <?php if ($_item->isSaleable()) : ?>
                                    <div class="control qty">
                                        <input type="number" name="super_group[<?php /* @escapeNotVerified */
                                        echo $_item->getId() ?>]"
                                               data-selector="super_group[<?php /* @escapeNotVerified */
                                               echo $_item->getId() ?>]"
                                               maxlength="12"
                                               value="<?php /* @escapeNotVerified */
                                               echo $_item->getQty() * 1 ?>"
                                               title="<?php /* @escapeNotVerified */
                                               echo __('Qty') ?>"
                                               class="input-text qty"
                                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                               data-errors-message-box="#validation-message-box"/>
                                    </div>
                                <?php else: ?>
                                    <div class="stock unavailable" title="<?php /* @escapeNotVerified */
                                    echo __('Availability') ?>">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Out of stock') ?></span>
                                    </div>
                                <?php endif; ?>
                            </td>
                        <?php endif; ?>
                    </tr>
                    <?php if ($block->getCanShowProductPrice($_product)
                        && $block->getCanShowProductPrice($_item)
                        && trim($block->getProductPriceHtml(
                            $_item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ))
                    ): ?>
                        <tr class="row-tier-price">
                            <td colspan="2">
                                <?php echo $block->getProductPriceHtml(
                                    $_item,
                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                ) ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                <?php endforeach; ?>
            <?php else: ?>
                <tbody>
                <tr>
                    <td class="unavailable"
                        colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>">
                        <?php /* @escapeNotVerified */
                        echo __('No options of this product are available.') ?>
                    </td>
                </tr>
                </tbody>
            <?php endif; ?>
        </table>
    </div>
    <div id="validation-message-box"></div>

<?php } ?>
