.countryli
{
    width: 31%;
    float: left;
}
#countrylistul li .setleftcountry
{
    margin-left: 34px;
}
.selectedcountry
{
    color:#eb5e00;
    font-weight:bold;
}
#countrylistul li {
    background-image: url("./images/flags24.png");
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    margin-left: 0.5em;   
    margin-top: 0.4em;
    list-style: none;
}
.selectcheck
{
    color: #303030;
    font-size:1em;
    vertical-align:middle;
}
#edit_form .entry-edit-head {
    background-color:#e3e3e3;
    height: 26px;
    padding: 3px;
}
.form-buttons .selectcheck{
    color:#303030;
}
.form-buttons input#selectall{
    top:1px;
}
#edit_form .icon-head.head-edit-form.fieldset-legend{
    padding: 3px;
    padding-left: 10px;
    font-size: 13px;
}
#edit_form .icon-head.head-edit-form.fieldset-legend,#edit_form .form-buttons{
    display: inline-block;
    color:#303030;
}
#edit_form .form-buttons{
    float: right;
    cursor: pointer;
}
#edit_form .form-buttons .selectcheck{
    cursor: pointer;
}
#countrylistul li #country_lbl{
    font-size: 14px;
    cursor: pointer;
}
[data-index="countrygroupstring"]{
display:none!important;
}

