.tab-content {
    width: 800px;
    padding: 20px;
    display: none;
}

#upload-anchor-tag {
 display: block;   
}

#export-settings {
 display: block;   
}

.main-form-div input {
    display: block;    margin-bottom: 1em;    font-weight: 600;
}
#bar{
    background-color: #33fe33;
    padding: 15px 0;    width: 2px;
}
div#bararea {
    border: 1px solid #ddd;
	    width: 80%;
}
.mb-cls-box {
    float: right;
}
.top-box {
    width: 80%;
}
div#total_size {
    display: inline-block;
	font-weight: bold;font-size: 13px;
}
div#uploaded_part {
    display: inline-block;
	font-weight: bold;
	font-size: 13px;
}
div#percent {
    text-align: right;
    width: 80%;
    font-size: 13px;
    font-weight: bold;
}
.upload-box p {
    font-weight: bold;
    font-size: 13px;
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Browser...';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
/*.custom-file-input:hover::before {
  border-color: black;
}*/
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}