<?php
const PARAM_NAME_BASE64_URL = 'r64';
const PARAM_NAME_URL_ENCODED = 'uenc';
use Magento\Framework\App\Action\Action; 



?>
<h2>Fabric Ordering Aid</h2>
<p>Enter your desired values into the form below to calculate the number of metres required.</p>
<?php 

//print_r($_POST);

$this->getForm(); 

$range = filter_input(INPUT_POST, "range", FILTER_SANITIZE_STRING);
$drop = filter_input(INPUT_POST, "drop", FILTER_SANITIZE_STRING);
$type = filter_input(INPUT_POST, "type", FILTER_SANITIZE_STRING);

if( isset($range) && !empty($range) ) {
    
    $calculation = $this->getMetres($range, $drop, $type);
    
    if(!empty($calculation['metres']) && $calculation['metres'] > 0){
            echo "<hr>";
        echo "<div class='calculation_message'><p>You require <strong>".$calculation['metres']."m</strong> of this fabric</p></div>";
        
        $sku = $calculation['sku'];
	
	
        // get product by sku;
            $_product = $block->getProductBySku($sku);
	$options = $_product->getOptions();


        if(isset($sku)){
            $_productCollection = $this->getProductCollection($sku);

            foreach ($_productCollection as $_product): 
                $postParams = $block->getAddToCartPostParams($_product); 
                echo "<p><strong>".$_product->getName()."</strong></p>";
                        ?>
                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" 
                    <?php if ($options) :?> enctype="multipart/form-data"<?php endif; ?> method="post">
                    
                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                    <?php echo $block->getBlockHtml('formkey')?>
                    <?php $storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface'); ?>
                    
                    <div class="product-options-wrapper" id="product-options-wrapper" required>
                        <div class="fieldset" tabindex="0">
<?php foreach($options as $_option){
				if(strpos($_option->getTitle(), "Length") === false){
				continue;
				}
?>
                            <label class="label" for="options_<?= $block->escapeHtmlAttr($_option->getId()) ?>_text">
                                <span><?= $block->escapeHtml($_option->getTitle()) ?></span>
                                <?= /* @noEscape */ $block->getFormattedPrice() ?>
                            </label>

                            <div class="control">
                                <input type="text"
                                id="options_<?= $block->escapeHtmlAttr($_option->getId()) ?>_text"
                                class="input-text product-custom-option"
                                <?php if (!empty($_textValidate)) {?>
                                    data-validate="<?= $block->escapeHtml(json_encode($_textValidate)) ?>"
                                <?php } ?>
                                name="options[<?= $block->escapeHtmlAttr($_option->getId()) ?>]"
                                data-selector="options[<?= $block->escapeHtmlAttr($_option->getId()) ?>]"
                                value="<?= $block->escapeHtml($calculation['metres']) ?>"/>
                            </div>
			<?php } ?> 
                        </div>
                    </div>
                    
                    <div class="field qty">
                        <label class="label" for="qty"><span>Qty</span></label>
                        <div class="control">
                            <input type="number" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" data-validate="{&quot;required-number&quot;:true,&quot;validate-item-quantity&quot;:{&quot;minAllowed&quot;:1,&quot;maxAllowed&quot;:10000}}">
                        </div>
                    </div>    

                    <button type="submit"
                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                        class="action tocart primary">
                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                    </button>
                </form>
            <?php 
            endforeach;
        } 
        
    } else {
        echo "<div class='calculation_message'>The combination you have chosen isn't available</div>";
    }
}



?>

