<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_GroupedProductOption
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Hudson\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>

<?php $block->setPreconfiguredValue(); ?>
<?php $product = $block->getProduct(); ?>
<?php $associatedProducts = $block->getAssociatedProducts(); ?>
<?php $idAttribute = $block->getIdAttribute(); ?>
<?php $hasAssociatedProducts = count($associatedProducts) > 0; ?>
<?php $helper = $block->getBssHelper(); ?>
<?php if ($helper->getConfig()) : ?>
    <input type="hidden" name="bss-gpo" value="1">
<?php endif; ?>


<?php if ($block->isGroupedModuleEnabled()) { ?>
    <?php $attributesToShow = $block->getAttributesToShow() ?>

    <div class="table-wrapper grouped">
        <table class="table data grouped" id="super-product-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */
                echo __('Grouped product items') ?></caption>
            <thead>
            <tr>
                <th class="col item" scope="col">
                    <?php if ($idAttribute) { ?>
                        <?php echo (isset($idAttribute['name'])) ? $idAttribute['name'] : "ERROR"; ?>
                    <?php } else { ?>
                        <?php echo $block->escapeHtml(__('Product Name')); ?>
                    <?php } ?>
                </th>


                <?php if ($attributesToShow !== false) {
                    foreach ($attributesToShow as $attributeCode => $attributeName) {
                        ?>
                        <?php $attr = $product->getResource()->getAttribute($attributeCode);
                        if (!$attr) continue; ?>
                        <th class="col item" scope="col"><?php /* @escapeNotVerified */
                            echo __($attributeName) ?></th>
                    <?php }
                } ?>

                <?php if ($product->isSaleable()) : ?>
                    <th class="col qty" scope="col"><?php /* @escapeNotVerified */
                        echo __('Qty') ?></th>
                <?php endif; ?>
            </tr>
            </thead>

            <?php if ($hasAssociatedProducts) : ?>
                <?php foreach ($associatedProducts as $item) : ?>
                    <?php $productInfo = $block->getProductInfo($item); ?>
                    <?php $itemProduct = $block->getProductById($item->getId()); ?>

                    <tbody>
                    <tr>
                        <td data-th="

                    <?php if ($idAttribute) { ?>
                    <?php echo (isset($idAttribute['name'])) ? $idAttribute['name'] : "ERROR"; ?>
                    <?php } else { ?>
                    <?php echo $block->escapeHtml(__('Product Name')); ?>
                    <?php } ?>

                    " class="col item">
                            <?php if ($block->getProductInfoGpo($item) && $helper->getConfig('show_image')) : ?>
                                <div class="bss-gpo-img">
                                    <?php echo $block->getProductInfoGpo($item); ?>
                                </div>
                            <?php endif; ?>
                            <strong class="product-item-name">
                                <?php if ($helper->getConfig('show_link') && $productInfo->getVisibility()
                                != 1) : ?>
                                <a href="<?php echo $productInfo->getProductUrl(); ?>">
                                    <?php endif; ?>

                                    <?php if ($idAttribute) { ?>
                                        <?php if (isset($idAttribute['code'])) {
                                            $idattr = $product->getResource()->getAttribute($idAttribute['code']);
                                            if ($idattr) {
                                                $idattrValue = $itemProduct->getData($idAttribute['code']);

                                                if ($idattr->usesSource()) {
                                                    echo $block->escapeHtml($idattr->getSource()->getOptionText($idattrValue));

                                                } else {
                                                    echo $block->escapeHtml($idattrValue);
                                                }
                                            } else {
                                                echo "ERROR";
                                            }

                                        } else {
                                            echo "ERROR";
                                        }
                                        ?>
                                    <?php } else { ?>
                                        <?php echo $block->escapeHtml($item->getName()) ?>
                                    <?php } ?>


                                    <?php if ($helper->getConfig('show_link') && $productInfo->getVisibility()
                                    != 1) : ?>
                                </a>
                            <?php endif; ?>
                            </strong>

                            <?php echo $block->getBackorderMessage($itemProduct); ?>

                            <?php if ($block->getCanShowProductPrice($product)) : ?>
                                <?php if ($block->getCanShowProductPrice($item)) : ?>
                                    <?php /* @escapeNotVerified */
                                    echo $block->getPriceForProductWithDiscount($item) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if ($helper->getConfig() && $block->renderBlockProduct($item)) : ?>
                                <div class="bss-gpo-child-product-info bss-gpo-child-product-id-<?php /* @escapeNotVerified */
                                echo $item->getId() ?>">
                                    <div class="product-options-wrapper">
                                        <?php /* @escapeNotVerified */
                                        echo $block->renderBlockProduct($item); ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </td>


                        <?php if ($attributesToShow !== false) {
                            foreach ($attributesToShow as $attributeCode => $attributeName) {
                                ?>
                            <td data-th="<?php echo $block->escapeHtml(__($attributeName)); ?>" class="col item">

                                <?php $attr = $product->getResource()->getAttribute($attributeCode);
                                if (!$attr) continue; ?>
                                <?php $attrValue = $itemProduct->getData($attributeCode); ?>

                                <?php if ($attr->usesSource()) { ?>
                                    <strong class="product-item-name"><?php echo $block->escapeHtml($attr->getSource()->getOptionText($attrValue)) ?></strong></td>

                                <?php } else { ?>
                                    <strong class="product-item-name"><?php echo $block->escapeHtml($attrValue) ?></strong></td>


                                <?php }
                            }
                        } ?>

                        <?php if ($product->isSaleable()) : ?>
                            <td data-th="<?php echo $block->escapeHtml(__('Qty')); ?>" class="col qty">
                                <?php if ($item->isSaleable()) : ?>
                                    <div class="control qty">
                                        <input type="number" name="super_group[<?php /* @escapeNotVerified */
                                        echo $item->getId(); ?>]"
                                               data-selector="super_group[<?php /* @escapeNotVerified */
                                               echo $item->getId(); ?>]"
                                               maxlength="12"
                                               value="<?php /* @escapeNotVerified */
                                               echo $item->getQty() * 1; ?>"
                                               title="<?php /* @escapeNotVerified */
                                               echo __('Qty'); ?>"
                                               class="input-text qty"
					       data-incremental-length="800"
                                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                               data-product-id="<?php /* @escapeNotVerified */
                                               echo $item->getId(); ?>"
                                               data-errors-message-box="#validation-message-box"/>
                                    </div>
                                <?php else : ?>
                                    <div class="stock unavailable" title="<?php /* @escapeNotVerified */
                                    echo __('Availability'); ?>">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Out of stock'); ?></span>
                                    </div>
                                <?php endif; ?>
                            </td>
                        <?php endif; ?>
                    </tr>
                    <?php if ($block->getCanShowProductPrice($product)
                        && $block->getCanShowProductPrice($item)
                        && trim($block->getProductPriceHtml(
                            $item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ))
                    ) : ?>
                        <tr class="row-tier-price">
                            <td colspan="2">
                                <?php echo $block->getProductPriceHtml(
                                    $item,
                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                ) ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                <?php endforeach; ?>
            <?php else : ?>
                <tbody>
                <tr>
                    <td class="unavailable"
                        colspan="<?php echo $product->isSaleable() ? '4' : '3'; ?>">
                        <?php /* @escapeNotVerified */
                        echo __('No options of this product are available.') ?>
                    </td>
                </tr>
                </tbody>
            <?php endif; ?>
        </table>
    </div>
    <div id="validation-message-box"></div>
    <script type="text/x-magento-init">
    {
        "#super-product-table": {
            "Bss_GroupedProductOption/js/grouped": {
                "show_option": <?php echo $helper->getConfig('show_option_default') ? 'true' : 'false'; ?>,
                "json": <?php /* @escapeNotVerified */
        echo $block->getJsonConfig() ?>
            }
        }
    }





    </script>


<?php } else { ?>


    <div class="table-wrapper grouped">
        <table class="table data grouped" id="super-product-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */
                echo __('Grouped product items') ?></caption>
            <thead>
            <tr>
                <th class="col item" scope="col"><?php /* @escapeNotVerified */
                    echo __('Product Name') ?></th>
                <?php if ($product->isSaleable()) : ?>
                    <th class="col qty" scope="col"><?php /* @escapeNotVerified */
                        echo __('Qty') ?></th>
                <?php endif; ?>
            </tr>
            </thead>

            <?php if ($hasAssociatedProducts) : ?>
                <?php foreach ($associatedProducts as $item) : ?>
                    <?php $productInfo = $block->getProductInfo($item); ?>
                    <tbody>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>" class="col item">
                            <?php if ($block->getProductInfoGpo($item) && $helper->getConfig('show_image')) : ?>
                                <div class="bss-gpo-img">
                                    <?php echo $block->getProductInfoGpo($item); ?>
                                </div>
                            <?php endif; ?>
                            <strong class="product-item-name">
                                <?php if ($helper->getConfig('show_link') && $productInfo->getVisibility()
                                != 1) : ?>
                                <a href="<?php echo $productInfo->getProductUrl(); ?>">
                                    <?php endif; ?>
                                    <?php echo $block->escapeHtml($item->getName()) ?>
                                    <?php if ($helper->getConfig('show_link') && $productInfo->getVisibility()
                                    != 1) : ?>
                                </a>
                            <?php endif; ?>
                            </strong>
                            <?php if ($block->getCanShowProductPrice($product)) : ?>
                                <?php if ($block->getCanShowProductPrice($item)) : ?>
                                    <?php /* @escapeNotVerified */
                                    echo $block->getProductPrice($item) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if ($helper->getConfig() && $block->renderBlockProduct($item)) : ?>
                                <div class="bss-gpo-child-product-info bss-gpo-child-product-id-<?php /* @escapeNotVerified */
                                echo $item->getId() ?>">
                                    <div class="product-options-wrapper">
                                        <?php /* @escapeNotVerified */
                                        echo $block->renderBlockProduct($item); ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </td>
                        <?php if ($product->isSaleable()) : ?>
                            <td data-th="<?php echo $block->escapeHtml(__('Qty')); ?>" class="col qty">
                                <?php if ($item->isSaleable()) : ?>
                                    <div class="control qty">
                                        <input type="number" name="super_group[<?php /* @escapeNotVerified */
                                        echo $item->getId(); ?>]"
                                               data-selector="super_group[<?php /* @escapeNotVerified */
                                               echo $item->getId(); ?>]"
                                               maxlength="12"
                                               value="<?php /* @escapeNotVerified */
                                               echo $item->getQty() * 1; ?>"
                                               title="<?php /* @escapeNotVerified */
                                               echo __('Qty'); ?>"
                                               class="input-text qty"
                                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                               data-product-id="<?php /* @escapeNotVerified */
                                               echo $item->getId(); ?>"
                                               data-errors-message-box="#validation-message-box"/>
                                    </div>
                                <?php else : ?>
                                    <div class="stock unavailable" title="<?php /* @escapeNotVerified */
                                    echo __('Availability'); ?>">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Out of stock'); ?></span>
                                    </div>
                                <?php endif; ?>
                            </td>
                        <?php endif; ?>
                    </tr>
                    <?php if ($block->getCanShowProductPrice($product)
                        && $block->getCanShowProductPrice($item)
                        && trim($block->getProductPriceHtml(
                            $item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ))
                    ) : ?>
                        <tr class="row-tier-price">
                            <td colspan="2">
                                <?php echo $block->getProductPriceHtml(
                                    $item,
                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                ) ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                <?php endforeach; ?>
            <?php else : ?>
                <tbody>
                <tr>
                    <td class="unavailable"
                        colspan="<?php echo $product->isSaleable() ? '4' : '3'; ?>">
                        <?php /* @escapeNotVerified */
                        echo __('No options of this product are available.') ?>
                    </td>
                </tr>
                </tbody>
            <?php endif; ?>
        </table>
    </div>
    <div id="validation-message-box"></div>
    <script type="text/x-magento-init">
    {
        "#super-product-table": {
            "Bss_GroupedProductOption/js/grouped": {
                "show_option": <?php echo $helper->getConfig('show_option_default') ? 'true' : 'false'; ?>,
                "json": <?php /* @escapeNotVerified */
        echo $block->getJsonConfig() ?>
            }
        }
    }





    </script>

<?php } ?>
