<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_GroupedProductOption
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php $option = $block->getOption() ?>
<?php $optionId = $option->getId() ?>
<?php $productId = $block->getProduct()->getId();?>
<?php $class = ($option->getIsRequire()) ? ' required' : ''; ?>
<div class="field date<?php /* @escapeNotVerified */ echo $class; ?>"
    data-mage-init='{"priceOptionDate":{"fromSelector":"#product_addtocart_form"}}'>
    <fieldset class="fieldset fieldset-product-options-inner<?php /* @escapeNotVerified */ echo $class; ?>">
        <legend class="legend">
            <span><?php echo  $block->escapeHtml($option->getTitle()) ?></span>
            <?php /* @escapeNotVerified */ echo $block->getFormatedPrice() ?>
        </legend>
        <div class="control">
            <?php if ($option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_DATE_TIME
                || $option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_DATE) : ?>
                <?php echo $block->getDateHtml() ?>
            <?php endif; ?>

            <?php if ($option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_DATE_TIME
                || $option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_TIME) : ?>
                <?php echo $block->getTimeHtml() ?>
            <?php endif; ?>

            <?php if ($option->getIsRequire()) : ?>
                <input type="hidden"
                       name="bss-gpo-option-<?php /* @escapeNotVerified */ echo $productId; ?>[validate_datetime_<?php /* @escapeNotVerified */ echo $optionId ?>]"
                       class="validate-datetime-<?php /* @escapeNotVerified */ echo $optionId ?>"
                       value=""
                       data-validate="{'validate-required-datetime':<?php /* @escapeNotVerified */ echo $optionId;
                        ?>}"/>
            <?php else : ?>
                <input type="hidden"
                       name="bss-gpo-option-<?php /* @escapeNotVerified */ echo $productId; ?>[validate_datetime_<?php /* @escapeNotVerified */ echo $optionId; ?>]"
                       class="validate-datetime-<?php /* @escapeNotVerified */ echo $optionId; ?>"
                       value=""
                       data-validate="{'validate-optional-datetime':<?php /* @escapeNotVerified */ echo $optionId;
                        ?>}"/>
            <?php endif; ?>
        </div>
    </fieldset>
</div>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "validation": {
                "ignore": ":hidden:not(input[name^='validate_datetime_'])"
            }
        }
    }
</script>
