<?php
/**
 * Copyright © 2017 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
  	#Fetch data from table to display it in the dropdown list of runimport section
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$productAttributeCollection = $objectManager->get('Magento\Catalog\Model\ResourceModel\Product\Attribute\Collection');
	$productAttributes = $productAttributeCollection->load();
	$connection = $resource->getConnection();
	$data = $resource->getTableName('productimportexport_uploadedfiledata');
	$rec = $resource->getConnection()->query("SELECT * FROM ". $data);

	foreach($rec->fetchAll() as $uploaded_file){
		if(file_exists($uploaded_file['file_uploaded_path'].'/'.$uploaded_file['file_name'])) {
			$fileuploadedindir[]=$uploaded_file['file_name'];
		}
	 }
?>

</script>
<script type="text/javascript">
 require(['jquery','progressbar'],function($){
			
		$('#import-form').submit(function(event) { 
			$dropdownvalue=$("#selectfileforuploading option:selected").text();
			if($dropdownvalue!=='No Files Uploaded'){
				
				if($('#ProgressDryRun').length == 0 && $('.progress-label').length == 0){ 
					$("#parent").append("<div id='ProgressDryRun'>Progress:</div>");
					$("#child").append("<div id='progressbar'><div class='progress-label'>Loading...</div></div>");
					$("#sub_btn").prop("disabled", true);
				}
				var progressbar = $("#progressbar"),
				progressLabel = $(".progress-label");
				
				progressbar.progressbar({
					  value: false,
					  change: function() {
						progressLabel.text( progressbar.progressbar( "value" ) + "%" );
					  },
					  complete: function() {
						progressLabel.text( "Complete!" );
					  }
				});

				function getProgress() {
					$.ajax({ 
						type:"GET",
            			async: true,
						url:"<?php echo $block->getUrl('product/data/Progress'); ?>",
							success: function(response){
								var current_row = response.current_row || 0;
								current_row = parseInt(current_row);
								$('#currentrow').html(current_row);
								$('#LineNum_last').html(current_row);
								$('#rowsfoundincsv').html(response.total_row);
								//console.log("CURRENT VALUE"+ current_row);
								//console.log("ROW TOTAL: " + response.total_row);
								var percentage = ( current_row / response.total_row ) * 100;
								if(percentage > 0) {
									var progressbar = $("#progressbar");
									progressbar.progressbar( "value", Math.round(percentage));
								}
								//console.log(response.import_status);
								if(response.import_status == "started" && percentage < 101)	{			
									getProgress();
								}
							}
					});
				}
				
				//calling this function to get progress every 3 micro seconds .
				//getProgress();
				setTimeout( getProgress, 5000 );
				// display  table heading  here .
				if($('#table-heading').length == 0 && $('#Log-heading').length == 0){
					$('#table-status').append('<div id="table-heading">Status:</div>');
					$('#Log-status').append('<div id="Log-heading">Log Tail:</div>');
				}
				$('#status-table-to-display').css('display','block');
				$('#log-table-to-display').css('display','block');
						
				event.preventDefault();
			}	  
			 
			if($('#detailed-log-table').text() !== ""){ $("#detailed-log-table").empty(); }
			
			$('#detailed-log-table').append('<tr><th class="cls-th">Type</th><th class="cls-th">Line</th><th class="cls-th">Column</th><th class="cls-th">Message</th></tr>');
			
			if($(".left-rows-box .cls-l").text() !== ""){ $(".cls-l").empty(); }
			
			if($(".left-rows-box .cls-err").text() !== ""){ $(".cls-err").empty(); }
			
			if($("#td_MESSAGE").text() !== ""){ $("#td_MESSAGE").empty().removeClass(); }
			
			if($("#logdetail-table").text() !== ""){ $("#logdetail-table").empty(); }
			
			if($("#display_response").text() !== ""){ $("#display_response").empty(); }
			
			$.ajax({ 
				type:"POST",
            	async: true,
				url:"<?php echo $block->getUrl('product/data/ImportPost'); ?>",
				data: $(this).serialize(),
					success: function(response){
					
						setTimeout(loadXML, 500);
						$("#sub_btn").prop("disabled", false);
						
						function loadXML() {
							var htmlStr = '';
							$('#rowsprocessed').html(response.total_rows);
							$("#rowssuccessfull").html(response.total_rows);
							$("#memoryused").html(response.memory_used); 
							if(response.totalwarnings !== undefined && response.totalwarnings !== null){
								$.each(response.totalwarnings, function(k){
									//console.log("CURRENT VALUE: "+ k);
									//console.log("COUNT: "+ k.length);
									$.each(this, function(key, value) {
											//console.log(value.line);
											//console.log(value.error);
											//console.log(key);
											$("#totalwarnings").html(key+1);
											htmlStr += '<tr><td id="td_MESSAGE" class="warn">WARNING</td><td id="td-lineno">'+value.line+'</td><td id="td-Columnno">'+value.column+'</td><td id="logdetail-table">' + value.error + '</td></tr>';
									});
								});
							}
							//$("#Total-errors-td").html(totalrowswitherrors);

							if(response.success_message !== undefined && response.success_message !== null){
								$("#display_response").html(response.success_message);
								$('#logdetail-table').html('--');
							}
							if(response.success !== undefined && response.success !== null){
								htmlStr += '<tr><td id="MSG_last"></td><td id="LineNum_last"></td><td id="Columnno_last">--</td><td id="logdetail-table">' + response.success + '</td></tr>';
								$('#detailed-log-table').append(htmlStr);
								$('#MSG_last').toggleClass('succ err');
								$('#MSG_last').addClass('succ');
								$('#MSG_last').html('SUCCESS');
								$('#LineNum_last').html('--');
								$('#Columnno_last').html('--');
							}
							if(response.error !== undefined && response.error !== null){
								htmlStr += '<tr><td id="MSG_last"></td><td id="LineNum_last"></td><td id="Columnno_last">--</td><td id="logdetail-table">' + response.error + '</td></tr>';
								$('#detailed-log-table').append(htmlStr);
								$('#MSG_last').addClass('err');
								$('#MSG_last').html('ERROR');
								$('#totalerrors').html(1);
								$('#LineNum_last').html('--');
								$('#Columnno_last').html('--');
								
							} else if((response + '').length >= 50){ 
								$("#display_response").html(response);
							}	 

							var Estimatefinish=('<?php date_default_timezone_set('America/Chicago'); echo $estimatefinishtime = date('d/m/Y == H:i:s', time() + 20);?>');
							$("#estimatefinish").html(Estimatefinish + '  (server time)');
						}
					}	
			});
			
		 event.preventDefault();
			 	  
		});
 });
</script>
<script type="text/javascript">
    require(['jquery','bannerslider'],function($){
				var bar = $('#bar')
				var percent = $('#percent');
				var status = $('#status');
				
				$('#progress-bar-form').ajaxForm({
					beforeSend: function() {
							status.empty();
							var percentVal = '0%';
							bar.width(percentVal);
							percent.html(percentVal);
					},
					uploadProgress: function(event, position, total, percentComplete) {
						var uplaodingsizeInMB = (position / (1024*1024)).toFixed(2);
						var totalsizeInMB = (total / (1024*1024)).toFixed(2);
						
						var size_uploading = uplaodingsizeInMB + "mb    " + "       " + 'of';
						var totalsize = totalsizeInMB + 'mb';
						
						document.getElementById("uploaded_part").innerHTML = size_uploading;
						document.getElementById("total_size").innerHTML = totalsize;
						var percentVal = percentComplete + '%';
						percent.html(percentVal);
						bar.width(percentVal);
							
					},
					complete: function(xhr){
							
     						var fileName = JSON.parse(xhr.responseText);
							if (!$("#selectfileforuploading option[value=' + fileName + ']").length) {
								$('<option>').val(fileName).text(fileName).appendTo($('#selectfileforuploading'));
								$("#selectfileforuploading option[value='No_file_selected']").remove();
							}
								
							$("#upload-anchor-tag").hide();
							$("#import-settings").show();
								
							$('a[href="#import-settings"]').parent().siblings().removeClass("current");
							$('a[href="#import-settings"]').parent().addClass("current");
					}
			    });  

    });
</script> 
<script type="text/javascript">

require(['jquery'],function($){
	var j = jQuery.noConflict()
	j(document).ready(function() {
			j('.commerce-div-box-export').hide();
			j("#id_import_export").change(function(){ 
					if(j("#id_import_export").val() == "choosed_import_products"){
						j('.commerce-div-box-export').hide();
						j('.commerce-div-box').show();
					}
					else{
						j('.commerce-div-box').hide();
						j('.commerce-div-box-export').show();
						j('#export-settings').fadeIn();
					}
			});  
		});	 
	j(document).ready(function() {
			j('.cron_export_settings').hide();
			j("#Profile_type").change(function(){ 
					if(j("#Profile_type").val() == "Import_Products"){
						j('.cron_export_settings').hide();
						j('.cron_import_settings').show();
					} else {
						j('.cron_import_settings').hide();
						j('.cron_export_settings').show();
					}
			});  
		});	
	j(document).ready(function() {
			j('.show_additional_filters').hide();
			j("#apply_additional_filters").change(function(){ 
					if(j("#apply_additional_filters").val() == "yes_additional_filters"){
						j('.show_additional_filters').show();
					}
					else{
						j('.show_additional_filters').hide();
					}
			});  
		});	 
	j(document).ready(function() {
			j('.show_attribute_values').hide();
			j("#import_attribute_value").change(function(){ 
					if(j("#import_attribute_value").val() == "true"){
						j('.show_attribute_values').show();
					}
					else{
						j('.show_attribute_values').hide();
					}
			});  
		});	 
	j(document).ready(function() {
			j('#row_catalog_fields_export_mapped_fields_only').hide();
			j("#export_fields").change(function(){ 
					if(j("#export_fields").val() == "true"){
						j('#row_catalog_fields_export_mapped_fields_only').show();
					}
					else{
						j('#row_catalog_fields_export_mapped_fields_only').hide();
					}
			});  
		});	
	j(document).ready(function() {
		j(".tabs-menu li").click(function(event) {
			event.preventDefault();
			j(this).addClass("current");
			j(this).siblings().removeClass("current");
			var tab = j(this).attr("id");
			j(".tab-content").not(tab).hide();
			j(tab).fadeIn();
		});
	});
	j(document).ready(function() {
		j("#upload").click(function(event) {
				var filetoupload = j('.custom-file-input').val();
				if(filetoupload == ""){
					alert('Please select file to upload');
					event.preventDefault();
				}
				
		});
		j("#sub_btn").click(function(event) {
		   $dropdownvalue=j("#selectfileforuploading option:selected").text();
		   $paramdelimitervalue=j('#basic_behavior_import_delimiter').val();
		   $paramenclosevalue=j('#basic_behavior_import_enclose').val();
		   if($dropdownvalue=='Select a File '){
				alert('Please select a file to import');
				event.preventDefault();
		   }
		   if($dropdownvalue=='No File Uplaoded yet'){
				alert('Please Upload a file first and then  import');
				event.preventDefault();
		   }
				
		});
	});
});
</script>
<section class="header-select-box">
	<div class="select-action">
		<span class="header-action">
		<label class="label header" for="label_header_only"><span>Select Action:</span></label>
		</span>
						<select id="id_import_export" name="select_import_export" title="select_import_export" class="import_and_export">
							<option value="choosed_import_products">Import Products</option>
							<option value="choosed_export_products">Export Products</option>
						</select>					
	</div>
	<!-- Div to display the import response-->
	<div id="display_response"></div>
</section>
<section class="commerce-div-box">
<div id="tabs-container">
	<div class="left-side-panel">
		<ul class="tabs-menu">
			<li class="current" id="#upload-anchor-tag"><a href="#">UPLOAD FILE</a></li>
			<li id="#import-settings"><a href="#">IMPORT SETTINGS</a></li>
			<li id="#Run-import-button-section"><a href="#">RUN IMPORT</a></li>
			<li id="#cronjob"><a href="#">CRON JOB SETTINGS</a></li>
			<li id="#cronjobhistory"><a href="#">CRON JOB HISTORY</a></li>
		</ul>
	</div>
	<div class="tab">
		<!-- Upload File section  -->
			<div class="right-side-box">
			
				<div id="upload-anchor-tag" class="tab-content">
				
					<div class='formarea'>
					
						<div class="top-box">
							<div class="mb-cls-box">
								<div id="uploaded_part" class="cls-b"></div>
								<div id="total_size" class="cls-b"></div>	
							</div>
							<div class="upload-box"><p>Upload Progress</p></div>
						</div>
						<div id="bararea">
							<div id="bar"></div>
						</div>
						<div id='percent'>0%</div>
			
						<div id='status'></div>
										
						<form id="progress-bar-form" method="post" action="<?php echo $block->getUrl('product/data/Uploadfile') ?>">
						
							<div class="main-form-div">
								<input type="file" id="file" name="file" class="custom-file-input"/>
								<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
								<button type="submit" id="upload" name="Uplaod File"> Upload File</button>
								<div class="clear"></div>
							</div>
						</form>						
					</div>
				</div>
			</div>
		<!--Import settings section-->	
			<div class="right-side-box">
				<div id="import-settings" class="tab-content">
					<form id="import-form" name="importform" method="post" enctype="multipart/form-data">
							<label class="label admin__field-label" for="import_delimiter"><span>Import CSV Delimiter Value</span></label>
							<div class="control">
								<input id="basic_behavior_import_delimiter" name="import_delimiter" value="," title="Import Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
							</div>
							<label class="label admin__field-label" for="import_enclose"><span>Import CSV Enclose Value</span></label>
							<div class="control">
								<input id="basic_behavior_import_enclose" name="import_enclose" value='"' title="Import Enclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
							</div>
							<label class="label admin__field-label" for="root_catalog_id"><span>Root Catalog ID</span></label>
							<div class="control">
								<input id="basic_behavior_import_field_separator" name="root_catalog_id" value="" title="Root Catalog ID" class="basic_behavior input-text admin__control-text" type="text" size="20">
							</div>
							
							<br/>
							<span style="float: left; width: 220px"><label class="label admin__field-label" for="import_attribute_value"><span>Import Attribute Values</span></label></span>
							<select id="import_attribute_value" name="import_attribute_value" title="import_attribute_value" class="select admin__control-select apply_additional_filters">
								<option value="false">No</option>
								<option value="true">Yes</option>
							</select>
							<br/><br/>
							<div class="show_attribute_values">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="product_id_from"><span>Generate Values for Attribute(s)</span></label></span>
								<div class="control">
									<input id="basic_behavior_import_field_separator" name="attribute_for_import_value" value="" title="attribute for import value" class="basic_behavior input-text admin__control-text" type="text" size="30"><br/><small>(Put the name of the attribute_code here e.g "color,size")</small>
								</div>
								<br/>
							</div>	
							<br/>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="ref_by_product_id"><span>Lookup Products by Product ID</span></label></span>
								<select id="file_dropdown" name="ref_by_product_id" title="Lookup Products by Product ID" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="update_products_only"><span>Update Products Only</span></label></span>
								<select id="file_dropdown" name="update_products_only" title="Update Products Only" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="import_images_by_url"><span>Import Images By URL</span></label></span>
								<select id="import_images_by_url" name="import_images_by_url" title="Import Images By URL" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="reimport_images"><span>Reimport Images</span></label></span>
								<select id="reimport_images" name="reimport_images" title="Reimport Images" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="deleteall_andreimport_images"><span>Delete All And Reimport Images</span></label></span>
								<select id="deleteall_andreimport_images" name="deleteall_andreimport_images" title="Delete All And Reimport Images" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="append_websites"><span>Append Websites</span></label></span>
								<select id="append_websites" name="append_websites" title="Append Websites" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="append_tier_prices"><span>Append Tier Prices</span></label></span>
								<select id="append_tier_prices" name="append_tier_prices" title="Append Tier Prices" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							
							<div class="admin__field-control control">
								<span style="float: left; width: 220px"><label class="label admin__field-label" for="append_categories"><span>Append Categories</span></label></span>
								<select id="append_categories" name="append_categories" title="Append Categories" class="select admin__control-select">
									<option value="false">No</option>
									<option value="true">Yes</option>
								</select>
							</div>
							
				</div>	
			</div>
		<!--Run import button section-->
			<div class="right-side-box" >
				<div id="Run-import-button-section" class="tab-content">
						<div class="select-uploaded-file">
							<span style="float: left; width: 200px"><label class="label admin__field-label" for="update_products_only"></label></span>
							<select id="selectfileforuploading" name="selectfilename" title="uploadedfiles" class="select">
							<?php  if(!empty($fileuploadedindir)){?>
								<!-- <option value="file selected">Select a File </option> -->
							<?php foreach($fileuploadedindir as $key => $value) {?>
								<option value="<?php echo $value ; ?>"><?php echo $value ; ?></option>
							<?php }} else { ?>
								<option id="Nofileuploadedyet" value="No_file_selected">No Files Uploaded</option>
							<?php } ?>
							</select>
						</div>
						<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
						<input type="submit" id="sub_btn" name="Run Import" value="Run" />
					</form>	
					
					<!-- div to display the progress bar while import-->
					<div id="parent"></div>
					<div id="child"></div>
					<!-- div to display heading of table-->
					<div id="table-status"></div>
					<div id="Log-status"></div>
					<!-- div to display status table-->
					<div id="status-table-to-display">
						<table style="width:30%" class="left-rows-box" cellpadding="10">
							 <tr>
								<td class="cls-r">Current Row</td>
								<td class="cls-l" id="currentrow"></td>
							 </tr>
							 <tr>
								<td class="cls-r">Rows Found</td>
								<td class="cls-l" id="rowsfoundincsv"></td>
							 </tr>
							 <tr>
							 	<td class="cls-r">Rows Processed</td>
							 	<td class="cls-l" id="rowsprocessed"></td>
							 </tr>
							 <tr>
							 	<td class="cls-r succ">Rows successful</td>
							 	<td class="cls-l succ" id="rowssuccessfull"></td>
							 </tr>
							 <tr>
							 	<td class="cls-r err">Total errors</td>
							 	<td class="cls-l err" id="totalerrors"></td>
							 </tr>
							 <tr>
							 	<td class="cls-r">Total Warnings</td>
							 	<td class="cls-l" id="totalwarnings"></td>
							 </tr>
							 <tr>
							 	<td class="cls-r">Estimate Run time</td>
							 	<td class="cls-l" id="estimateruntime"></td>
							 </tr>
							 <tr>
							 	<td class="cls-r">Estimate Finish</td>
							 	<td class="cls-l" id="estimatefinish"></td>
							 </tr>
							 <tr>
								 <td class="cls-r">Memory Used</td>
								 <td class="cls-l" id="memoryused"></td>
							 </tr>
						</table>
					</div>
					<!-- div to display Log table-->
					<div id="log-table-to-display">
						<table width="100%" id="detailed-log-table" class="left-rows-box" cellpadding="10"></table>
					</div>
				</div>
			</div>
		<!--Cron Job section-->
			<div class="right-side-box">
				<div id="cronjob" class="tab-content">	
						<form id="cron_form" action="<?php echo $block->getUrl('product/data/CronJob') ?>" method="POST" enctype="multipart/form-data">
						<div class="control">
								<span style="float: left; width: 100px"><label class="Profile_type" for="Profile_type"><span>Profile Type</span></label></span>
								<select id="Profile_type" name="Profile_type" title="Profile Type" class="select admin__control-select">
									<option value="Import_Products">Import Products</option>
									<option value="Export_Products">Export Products</option>
								</select>
							</div>
						<br/>
						<br/>
						<div class="control">
							<span style="float: left; width: 100px"><label class="Schedule_id" for="Schedule_id"><span>Schedule</span></label></span>
							<select id="Schedule_id" name="Schedule" title="Schedule" class="select admin__control-select">
								<option value="Hourly">Hourly</option>
								<option value="Every_24hrs">Every 24hrs</option>
								<option value="Weekly">Weekly</option>
							</select>
						</div> 
						<br/>
						<br/>
						<br/>
						<div class="cron_import_settings">
							<label for="import_file_location"><span>Import File Location</span></label><br/><br/>
							<span style="float: left; width: 100px"><label class="label admin__field-label" for="import_file_name"><span>File name</span></label></span>
							<div class="control">
								<input id="File_name" name="import_file_name" value="cron_import_products.csv" title="import_file_name" class="basic_behavior input-text admin__control-text" type="text" size="50"> 
							</div>
							<br/>
							<span style="float: left; width: 100px"><label class="label admin__field-label" for="import_file_path"><span>File path</span></label></span>
							<div class="control">
								<input id="File_path" name="import_file_path" value="var/ProductImportExport" title="import_file_path" class="basic_behavior input-text admin__control-text" type="text" size="50"> 
							</div>
						</div>
						<div class="cron_export_settings">
							<label class="label admin__field-label"><span>Export File Name</span></label>
							<div class="control">
								<input id="export_file_name" name="export_file_name" value="cron_export_products.csv" class="basic_behavior input-text admin__control-text" type="text" size="50">
							</div>
							<br/>
							<label class="label admin__field-label"><span>Export File Location</span></label>
							<div class="control">
								<input id="export_file_path" name="export_file_path" value="var/ProductImportExport" class="basic_behavior input-text admin__control-text" type="text" size="50">
							</div>
						</div>
						<br/>
						<br/>
						<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
						<div class="admin__field-control control">
								<input type="button" value="Save" onClick="submitAllDocumentForms()" />
					
						</div>
						</form>
				</div>
			</div>	
			<!--Cron Job History section-->
			<div class="right-side-box">
				<div id="cronjobhistory" class="tab-content">	
					<?php
						$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
						$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
						$connection = $resource->getConnection();
						$cron_schedule = $resource->getTableName('cron_schedule');
						$rec = $resource->getConnection()->query("SELECT * FROM ". $cron_schedule ." WHERE job_code = 'export_products' OR job_code = 'import_products' ORDER BY created_at DESC LIMIT 10");
					?>
					<table class="data-grid table table-order-items history" id="my-orders-table">
					<thead>
						<tr>
							<th scope="col" class="col data-grid-th"><?php echo __('Job Code') ?></th>
							<th scope="col" class="col data-grid-th"><?php echo __('Status') ?></th>
							<th scope="col" class="col data-grid-th"><?php echo __('Message') ?></th>
							<th scope="col" class="col data-grid-th"><?php echo __('Created At') ?></th>
							<th scope="col" class="col data-grid-th"><?php echo __('Scheduled At') ?></th>
							<th scope="col" class="col data-grid-th"><?php echo __('Executed At') ?></th>
							<th scope="col" class="col data-grid-th"><?php echo __('Finished At') ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($rec->fetchAll() as $scheduled_job): ?>
							<tr>
								<td class="col jobcode"><?php echo $scheduled_job['job_code'] ?></td>
								<td class="col status"><?php echo $scheduled_job['status'] ?></td>
								<td class="col message1" style="display: block; width:370px !important">
								<?php 
									if($scheduled_job['messages']!="") {
										echo "<pre style=\"white-space:pre-wrap;\">".$scheduled_job['messages']."</pre>";
									} else {
										echo "<pre style=\"white-space:pre-wrap;\">&nbsp;&nbsp;&nbsp;&nbsp;</pre>";
									}
								?></td>
								<td class="col created"><?php echo $scheduled_job['created_at'] ?></td>
								<td class="col scheduled"><?php echo $scheduled_job['scheduled_at'] ?></td>
								<td class="col executed"><?php echo $scheduled_job['executed_at'] ?></td>
								<td class="col finished"><?php echo $scheduled_job['finished_at'] ?></td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				</div>
			</div>	
	</div>
	</div>
	<div class="clear"></div>	
</div>	
</section>

<section class="commerce-div-box-export">
<div id="tabs-container">

	<div class="left-side-panel">
		<ul class="tabs-menu">
			<li class="current" id="#export-settings"><a href="3">EXPORT SETTINGS</a></li>
		</ul>
	</div>	
		
	<div class="tab">	
		<!-- For the Export section -->
		<div class="right-side-box">
			<div id="export-settings" class="tab-content">
				<form id="export_form" action="<?php echo $block->getUrl('product/data/ExportPost') ?>" method="post" enctype="multipart/form-data">
				<div class="fieldset">
					<div class="admin__field field field-products">
						<div class="admin__field-control control">
							<div class="section-config accordion">
								<div class="entry-edit-head admin__collapsible-block">
								<a id="catalog_fields_masks-head" href="#catalog_fields_masks-link" onclick="Fieldset.toggleCollapse('catalog_fields_masks', ''); return false;" class="">Data Format</a>
								</div>
								<input id="catalog_fields_masks-state" name="config_state[catalog_fields_masks]" type="hidden" value="1">
								<fieldset class="config admin__collapsible-block" id="catalog_fields_masks" style="display: none;">
									<table cellspacing="0" class="form-list">
										<tbody>
											<tr id="row_catalog_fields_export_delimiter">
												<td class="label"><label class="label admin__field-label"><span>Export CSV Delimiter Value</span></label></td>
												<td><input id="basic_behavior_export_delimiter" name="export_delimiter" value="," title="Export Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1" style="width: 10px"></td>
											</tr>
											<tr id="row_catalog_fields_export_enclose">
												<td class="label"><label class="label admin__field-label"><span>Export CSV Enclose Value</span></label></td>
												<td><input id="basic_behavior_export_enclose" name="export_enclose" value='"' title="Export Enclose" class="basic_behavior input-text admin__control-text" type="text" size="1" style="width: 10px"></td>
											</tr>
											<tr id="row_catalog_fields_export_manual_file_name">
												<td class="label"><label class="label admin__field-label"><span>File Name</span></label></td>
												<td><input id="basic_behavior_export_manual_file_name" name="export_manual_file_name" value='export_products.csv' title="Export File Name" class="basic_behavior input-text admin__control-text" type="text"></td>
											</tr>
											<tr id="row_catalog_fields_export_fields">
												<td class="label"><label class="label admin__field-label"><span>Export</span></label></td>
												<td><select id="export_fields" name="export_fields" title="Export Fields" class="select admin__control-select">
														<option value="false">All Fields</option>
														<option value="true">Only Mapped Fields</option>
													</select>
												</td>
											</tr>
											<tr id="row_catalog_fields_export_mapped_fields_only">
												<td colspan="2">
												<button id="" title="Add Field Mapping" type="button" class="scalable add" onclick="addFieldMapping()" style="">
														<span><span><span>Add Field Mapping</span></span></span>
												</button>
												<br/>
					<div id="map_template_product" style="display:none">
                     <span class="field-row" style="display: block; margin: 5px">
                        In Database: <select name="gui_data[map][product][db][]" onchange="setMapFileField(this)" style="width: 225px">
											<option value="0">Choose an attribute</option>
											<option value="associated">associated</option>
											<option value="attribute_set">attribute_set</option>
											<option value="categories">categories</option>
											<option value="config_attributes">config_attributes</option>
											<option value="downloadable_options">downloadable_options</option>
											<option value="downloadable_sample_options">downloadable_sample_options</option>
											<option value="gallery">gallery</option>
											<option value="gallery_label">gallery_label</option>
											<option value="grouped">grouped</option>
											<option value="related">related</option>
											<option value="upsell">upsell</option>
											<option value="crosssell">crosssell</option>
											<option value="tier_prices">tier_prices</option>
											<option value="store">store</option>
											<option value="store_id">store_id</option>
											<option value="prodtype">prodtype</option>
											<option value="websites">websites</option>
											<?php
											foreach ($productAttributes as $productAttr) {
												$col = $productAttr->getAttributeCode();
												#if (!in_array($col, $this->_disabledAttributes)) {
													echo "<option value=".$col.">".$col."</option>";
												#}
											}
											?>
									</select>
                   &lt;--&gt; In File: <input class="input-text" name="gui_data[map][product][file][]" style="width: 225px"/>
                   <button id="" title="Remove" type="button" class="scalable delete" onclick="removeFieldMapping(this)" style=""><span><span><span>Remove</span></span></span></button>									
				   </span>
                  </div>
													<div id="map_container_product"></div>
												</td>
											</tr>
										</tbody>
									</table>
								</fieldset>
								<script type="text/javascript">
								//<![CDATA[
									require(['prototype'], function(){Fieldset.applyCollapse('catalog_fields_masks');});
								//]]>
								</script>
							</div>
							<div class="section-config accordion">
								<div class="entry-edit-head admin__collapsible-block">
								<a id="export_settings-head" href="#export_settings-link" onclick="Fieldset.toggleCollapse('export_settings', ''); return false;" class="">Export Settings</a>
								</div>
								<input id="export_settings-state" name="config_state[export_settings]" type="hidden" value="0">
								<fieldset class="config admin__collapsible-block" id="export_settings" style="display: none;">
									<table cellspacing="0" class="form-list">
										<tbody>
											<tr id="row_export_settings_export_product_id_from">
												<td class="label"><label class="label admin__field-label"><span>Export From Product ID</span></label></td>
												<td><input id="basic_behavior_import_field_separator" name="product_id_from" value="" title="Product ID From" class="basic_behavior input-text admin__control-text" type="text" size="20"> <small>(leave blank for all products)</small></td>
											</tr>
											<tr id="row_export_settings_export_product_id_to">
												<td class="label"><label class="label admin__field-label"><span>Export To Product ID</span></label></td>
												<td><input id="basic_behavior_import_field_separator" name="product_id_to" value="" title="Product ID To" class="basic_behavior input-text admin__control-text" type="text" size="20"> <small>(leave blank for all products)</small></td>
											</tr>
											<tr id="row_export_settings_export_additional_filters">
												<td class="label"><label class="label admin__field-label"><span>Show Additional Filters</span></label></td>
												<td>
												<select id="apply_additional_filters" name="apply_additional_filters" title="apply_additional_filters" class="select admin__control-select apply_additional_filters">
													<option value="no_additional_filters">No</option>
													<option value="yes_additional_filters">Yes</option>
												</select>
												<br/><br/>
												<div class="show_additional_filters">
													<span><label class="label admin__field-label" for="product_id_from"><span>Export By Attribute</span></label></span>
													<div class="control">
														<input id="basic_behavior_import_field_separator" name="export_filter_by_attribute_code" value="" title="export filter by attribute code" class="basic_behavior input-text admin__control-text" type="text" size="20"><br/><small>(Put the name of the attribute_code here e.g "manufacturer")</small>
													</div>
													<br/>
													<span><label class="label admin__field-label" for="product_id_from"><span>Attribute Value</span></label></span>
													<div class="control">
														<input id="basic_behavior_import_field_separator" name="export_filter_by_attribute_value" value="" title="export filter by attribute value" class="basic_behavior input-text admin__control-text" type="text" size="20"><br/><small>(Put the name of the attribute value you want to match on here e.g "Nike")</small>
													</div>
													<br/>
													<span><label class="label admin__field-label" for="filter_qty_from"><span>Qty From</span></label></span>
													<div class="control">
														<input id="basic_behavior_import_field_separator" name="filter_qty_from" value="" title="filter qty from" class="basic_behavior input-text admin__control-text" type="text" size="4"><br/>
													</div>
													<br/>
													<span><label class="label admin__field-label" for="filter_qty_to"><span>Qty To</span></label></span>
													<div class="control">
														<input id="basic_behavior_import_field_separator" name="filter_qty_to" value="" title="filter qty to" class="basic_behavior input-text admin__control-text" type="text" size="4"><br/>
													</div>
													<br/>
													<span><label class="label admin__field-label" for="filter_status"><span>Status</span></label></span>
													<div class="control">
                                                    <select id="filter_status" name="filter_status" class="select admin__control-select">
															<option value="0" selected="selected">Any Status</option>
															<option value="1">Enabled</option>
															<option value="2">Disabled</option>
													</select><br/>
													</div>
													<br/>
												</div>	
												</td>
											</tr>
											<tr id="row_export_settings_export_multi_store">
												<td class="label"><label class="label admin__field-label"><span>Export Multi Store</span></label></td>
												<td><select id="export_multi_store" name="export_multi_store" title="Export Multi Store" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
											<tr id="row_export_settings_export_grouped_position">
												<td class="label"><label class="label admin__field-label"><span>Export Grouped Position</span></label></td>
												<td><select id="export_grouped_position" name="export_grouped_position" title="Export Grouped Position" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
											<tr id="row_export_settings_export_related_position">
												<td class="label"><label class="label admin__field-label"><span>Export Related Position</span></label></td>
												<td><select id="export_related_position" name="export_related_position" title="Export Related Position" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
											<tr id="row_export_settings_export_crossell_position">
												<td class="label"><label class="label admin__field-label"><span>Export Cross-sell Position</span></label></td>
												<td><select id="export_crossell_position" name="export_crossell_position" title="Export Cross-sell Position" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
											<tr id="row_export_settings_export_upsell_position">
												<td class="label"><label class="label admin__field-label"><span>Export Up-sell Position</span></label></td>
												<td><select id="export_upsell_position" name="export_upsell_position" title="Export Up-sell Position" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
											<tr id="row_export_settings_export_category_paths">
												<td class="label"><label class="label admin__field-label"><span>Export Category Paths</span></label></td>
												<td><select id="export_category_paths" name="export_category_paths" title="Export Category Paths" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
											<tr id="row_export_settings_export_category_paths">
												<td class="label"><label class="label admin__field-label"><span>Export Full Image URL Paths</span></label></td>
												<td><select id="export_full_image_paths" name="export_full_image_paths" title="Export Full Image URL Paths" class="select admin__control-select">
														<option value="false">No</option>
														<option value="true">Yes</option>
													</select>
												</td>
											</tr>
										</tbody>
									</table>
								</fieldset>
								<script type="text/javascript">
								//<![CDATA[
									require(['prototype'], function(){Fieldset.applyCollapse('catalog_fields_masks');});
								//]]>
								</script>
							</div>
						</div>
						<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
						<br>
						<br>
						<div class="admin__field-control control">
						 <?php echo $block->getButtonHtml('Export Products', "this.form.submit()") ?>
						 </div>
					</div>
				</div>
			</form>
			</div>	
		</div>  
       <!-- For the Cron job-->
	</div>	
</div>		
	<div class="clear-one"></div>
</section>

<!-- script for submitting all the forms -->
<SCRIPT LANGUAGE="JavaScript" type="text/javascript">

function addFieldMapping()
{
	Element.insert($('map_container_product'), {bottom: $('map_template_product').innerHTML});
}

function removeFieldMapping(button)
{
	Element.remove(button.parentNode);
}
function setMapFileField(select)
{
    select.parentNode.getElementsByTagName('input')[0].value = select.value;
}
/* Collect all forms in document to one and post it */
function submitAllDocumentForms() {
    var arrDocForms = document.getElementsByTagName('form');
    var formCollector = document.createElement("form");
    with(formCollector)
    {
        method = "post";
        action = "<?php echo $block->getUrl('product/data/CronJob') ?>";
        name = "formCollector";
        id = "formCollector";
    }
    for(var ix = 0 ; ix < arrDocForms.length ; ix++) {
        appendFormVals2Form(arrDocForms[ix], formCollector);
    }
    document.body.appendChild(formCollector);
    formCollector.submit();
}

/* Function: add all elements from frmCollectFrom and append them to
             frmCollector before returning frmCollector*/
function appendFormVals2Form(frmCollectFrom, frmCollector) {
    var frm = frmCollectFrom.elements;
	var nElems = frm.length;
    for(var ix = nElems - 1; ix >= 0 ; ix--)
         frmCollector.appendChild(frm[ix]);
    return frmCollector;
}
</SCRIPT>