<?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$context = $_objectManager->get('Magento\Framework\App\Http\Context');
?>

<?php if($context->getValue('customer_logged_in')) { ?>
	<li class="account"><a href="/customer/account/">My Account</a></li>
<?php } else { ?>
	<li class="login"><a href="/customer/account/">Trade Login</a></li>
<?php } ?>