<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */

$productId = $block->getSaleableItem()->getId();

/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
?>
<?php if ($block->hasSpecialPrice()): ?>
    <span class="special-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Special Price'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
    <span class="old-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </span>
<?php else: ?>
    <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
        'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
        'price_type'        => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]); ?>
<?php endif; ?>

<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()):?>
        <a href="<?= /* @escapeNotVerified */ $block->getSaleableItem()->getProductUrl() ?>" class="minimal-price-link">
            <?= /* @escapeNotVerified */ $block->renderAmountMinimal() ?>
        </a>
    <?php else:?>
        <span class="minimal-price-link">
            <?= /* @escapeNotVerified */ $block->renderAmountMinimal() ?>
        </span>
    <?php endif?>
<?php endif; ?>

<br/>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>

<?php /* @escapeNotVerified */ $_product = $block->getCurrentProduct(); ?>

<?php if ($_product) { ?>
<?php $tradePrice = round($_helper->productAttribute($_product, $_product->getUnitprice(), 'unitprice'), 2) ?>
<?php /* @escapeNotVerified */
$productUnit = $_helper->productAttribute($_product, $_product->getUnit(), 'unit') ?>

<?php /* @escapeNotVerified */
$productType = $_product->getTypeId();

$yourPrice = $block->getYourProductPrice($_product) ?>

<!-- TEMPORARY PRICING -->
<div class="category-pricing">

<?php if ($tradePrice != '') { ?>

    <p>Trade Price from £<?php echo $tradePrice ?><br/>
	<?php if ($yourPrice != "") { ?>
	    <div class="your-price">Your Price: 
		<span class="discounted-price"><?php echo $yourPrice ?></span>
	    </div><br/>
	<?php } ?>
	based on 1 (<?php echo $productUnit ?>)</p>

<?php } ?>
</div>
<?php } ?>
