<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

        <div>
          <form method="post" action='<?php echo $block->getUrl('sampleroom/orders/ExportCSV/');?>'>
            <?php echo $this->getBlockHtml('formkey')?>
            <br>
            <strong>Sample Order CSV Export Tool: </strong><br> Select a start and end date below to filter the export. <br>
            If no dates are selected, the filter(s) will not be applied. <br><br>
            <label for="start-date">Start Date =
            <input type ="date" name="start-date" id="start-date" value="" maxlength="10" pattern="^((?!<)(?!>).)*$"></label><br><br>
            <label for="end-date">End Date  =
            <input type ="date" name="end-date" id="end-date" value="" maxlength="10" pattern="^((?!<)(?!>).)*$"></label><br><br>
              <input type="submit" value="Export as CSV">
          </form>
    </div>
