<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php /* @escapeNotVerified */
            echo __('Account Information') ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */
                    echo __('Contact Information') ?></span>
            </strong>
            <div class="box-content">
                <p>
			<?php $attribute = $block->getCustomer()->getCustomAttribute('customer_number') ?>

                    ACCOUNT NUMBER:
			<?php if($attribute) { ?>
                    <strong><?php echo $attribute->getValue() ?>
                        <br></strong>
			<?php } else { ?>
		    <strong> NOT-ASSIGNED <br> </strong>
			<?php } ?>
                    <?php echo $block->escapeHtml($block->getName()) ?><br>
                    <?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?php /* @escapeNotVerified */
                echo $block->getUrl('customer/account/edit') ?>">
                    <span><?php /* @escapeNotVerified */
                        echo __('Edit') ?></span>
                </a>
                <a href="<?php /* @escapeNotVerified */
                echo $block->getChangePasswordUrl() ?>" class="action change-password">
                    <?php /* @escapeNotVerified */
                    echo __('Change Password') ?>
                </a>
            </div>
        </div>
        <div class="box box-information">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */
                    echo __('Your Rep Contact Details') ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?php if ($block->getCustomer()->getCustomAttribute('rep_name')) {
                        echo $block->escapeHtml($block->getCustomer()->getCustomAttribute('rep_name')->getValue());
                    } ?><br>
                    <?php if ($block->getCustomer()->getCustomAttribute('rep_email')) {
                        echo $block->escapeHtml($block->getCustomer()->getCustomAttribute('rep_email')->getValue());
                    } ?><br>
                    <?php if ($block->getCustomer()->getCustomAttribute('rep_contact')) {
                        echo $block->escapeHtml($block->getCustomer()->getCustomAttribute('rep_contact')->getValue());
                    } ?><br>
                </p>
            </div>
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */
                    echo __('Eclipse Support Portal') ?></span>
            </strong>
            <div class="box-content">
                <p id="support-portal">

                <?php
                
                
                // $curl = curl_init();
                // curl_setopt_array($curl, [
                //     CURLOPT_RETURNTRANSFER => 1,
                //     CURLOPT_URL => 'https://online.superofficecom/Cust18166/CS/scripts/customer.fcgi?_sf=0&action=safeParse&noContentType=true&includeId=generate&key=pBAcc1jh4bMSp28K&email=' . $block->escapeHtml($block->getCustomer()->getEmail())
                // ]);
                
                
                // $results = curl_exec($curl);


                
                // $code = json_decode($results);
                

                // curl_close($curl);

                //     var_dump($results);
                echo '<script>
                var email = "' . $block->escapeHtml($block->getCustomer()->getEmail()) . '";
                </script>';


                ?>
                    <script>
                    require(["jquery", "AjaxCrossOrigin"], function($){
                        (function($){

                        

                            function gen_code(){
                                email = email.replace('@', '%40');
                                
                                var _url = "https://jsonp.afeld.me/?url=https%3A%2F%2Fonline.superoffice.com%2FCust18166%2FCS%2Fscripts%2Fcustomer.fcgi%3F_sf%3D0%26action%3DsafeParse%26noContentType%3Dtrue%26includeId%3Dgenerate%26key%3DpBAcc1jh4bMSp28K%26email%3D"+email;
        
                                $.ajax({
                                    url: _url,
                                    method: "POST",
                                    type: "jsonp"
                                }).success(function(data){
                                    
                                    
                                    var url = "https://online.superoffice.com/Cust18166/CS/scripts/customer.fcgi?_sf=4&action=safeParse&includeId=redirect&key=rBXc2pMAWyDFtOPG&customtoken=" + data.token
                                    $('#support-portal').html('click <a id="super-office" href="'+url+'" target="_blank">here</a> to login to the eclipse online customer service portal.');
                                }).fail(function(e){
                                    console.log(e);
                                });
                            }
                            
                            
                            
                            gen_code();
                            
                            $('body').on('click', '#super-office', function(){
                                setTimeout(function(){
                                    gen_code();
                                }, 1500);
                            });


                        })(jQuery);
                    });
                    
                    </script>
                    
                </p>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?php /* @escapeNotVerified */
                        echo __('Newsletters') ?></span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()): ?>
                            <?php /* @escapeNotVerified */
                            echo __('You subscribe to "General Subscription".') ?>
                        <?php else: ?>
                            <?php /* @escapeNotVerified */
                            echo __('You don\'t subscribe to our newsletter.') ?>
                        <?php endif; ?>
                    </p>
                    <?php /* Extensions placeholder */ ?>
                    <?php echo $block->getChildHtml('customer.account.dashboard.info.extra') ?>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?php /* @escapeNotVerified */
                    echo $block->getUrl('newsletter/manage') ?>"><span><?php /* @escapeNotVerified */
                            echo __('Edit') ?></span></a>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
