@charset "utf-8";
.rootmenu .clearfix:before, .rootmenu .clearfix:after{content: ""; display: table;}.rootmenu .clearfix:after{clear: both;}.rootmenu .clearfix{zoom: 1;}
.rootmenu *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-decoration: none; -webkit-font-smoothing: antialiased;}

.rootmenu {font-family: Arial, Helvetica, sans-serif;position: relative;font-size:13px;padding: 0;margin: 0;width: 100%;background:#179BD7;font-weight:bold;-webkit-border-radius: 2px;	-moz-border-radius: 2px;border-radius: 2px;z-index:99;}
.rootmenu-list {text-align: left;margin: 0 auto 0 auto;width: 100%;display: table;padding: 0px;}
.rootmenu-list > li {text-align: center;display: table-cell;border-right: 1px solid #097fb4;/*white-space: nowrap;*/}
.rootmenu-list > li > a {display: block;color: #fff;padding:0px 5px;line-height:45px;text-decoration: none;position: relative;}
.rootmenu-list > li > a > .homeicon{display:inline-block; font-size:18px;}
.rootmenu-list > li > a > em{ display:none; }
.rootmenu-list > li > a.active .homeicon{display:inline-block; width:15px; height:14px; background:url(../images/homeicon.png) 0px 0px no-repeat;text-indent: -99999px;}
.rootmenu-list > li:hover > a .homeicon{display:inline-block; width:15px; height:14px; background:url(../images/homeicon.png) 0px 0px no-repeat;	text-indent: -99999px;}
.rootmenu-list > li > a > .homeicon{display:inline-block; width:15px; height:14px; background:url(../images/homeicon.png) -15px 0px no-repeat;text-indent: -99999px; margin:0 8px;}
.rootmenu-list > li:first-child a {-webkit-border-radius: 2px 0px 0px 0px;-moz-border-radius: 2px 0px 0px 0px;border-radius: 2px 0px 0px 0px;}
.rootmenu-list > li:last-child a {-webkit-border-radius: 2px 0px 0px 0px;-moz-border-radius: 2px 0px 0px 0px;border-radius: 2px 0px 0px 0px;}
.rootmenu-list > li:last-child {border-right: 0px;}
.rootmenu-list > li:hover>a {background: #097fb4;color: #fff;}
.rootmenu-list > li > a:hover {background: #097fb4;color: #fff;}
.rootmenu-list > li > a.active {background: #097fb4;color: #fff;}
/* Mega Menu */
.megamenu {width: 100%;text-align: left;margin: 0px;padding:8px;display: none;position: absolute;top:44px;background-color: #fff;left: 0;border-bottom:solid 2px #097fb4;border:solid 1px #ccc;border-top:solid 0px;}
.carousel-control.left{top:38% !important;}
.carousel-control.right{top:38% !important;}
.catlinksstyle{display: block;margin: 0;padding:0px 0;font-size:13px;}
.catlinksstyle > li{color: #424242;display: block;line-height: 18px;padding: 6px 7px;}	
.catlinksstyle > li > span{font-size:11px;}
.catlinksstyle > li > a{padding:8px 6px 5px 13px;font-weight:normal;display:block;color:#000;background:url(../images/cat_arrow.png) 0px 10px no-repeat;}		
.catlinksstyle > li > a > .fa-caret-right{ margin-right:4px;}
/*Categories menu style*/
.rootmenu .categoriesmenu .title{background:none;border-bottom:1px solid #CCC;padding:15px 5px 12px 0;font-size:15px;text-transform:none;font-weight:bold;color:#3399cc;margin-bottom:7px;text-align:left;height:50px;list-style:none;}
.rootmenu .categoriesmenu{font-size:13px;}	
.rootmenu li{margin:0px; padding:0px; list-style:none; clear:both;}	
.rootmenu .categoriesmenu ul{margin:0px;padding:0px;}	
.rootmenu .categoriesmenu > ul > li{display:block; white-space:nowrap;text-align:left;}	
.rootmenu .categoriesmenu ul > li > a{background:url(../images/cat_arrow.png) 0px 10px no-repeat;font-weight:normal;line-height:18px; text-align:left;padding:6px 10px 6px 15px; border-right: 0 none; display:block; color:#424242;}
.rootmenu .categoriesmenu ul > li > a > .fa-caret-right{ margin-right:10px;}
.rootmenu .categoriesmenu ul > li > a:hover{text-decoration:underline;}

/*END Categories menu style*/


/*Links menu style*/
.rootmenu .linksmenu{font-size:13px;}
.rootmenu .linksmenu ul{margin:0px;padding:0px;}	
.rootmenu .linksmenu > ul > li{display:block;text-align:left;}	
.rootmenu .linksmenu ul > li > a{font-weight:normal;line-height:18px;text-align:left; padding:6px 10px;background:#fff;background-image:none;border-right:none;display:block;color:#424242;}
.rootmenu .linksmenu ul > li > a > .fa-caret-right{ margin-right:10px;}
.rootmenu .linksmenu ul > li > a:hover{text-decoration:underline;}
.linksmenu img {float: left;height: 35px;margin-right: 10px;width: 35px;}
.rootmenu .linksmenu .cat-arrow{background:url(../images/cat_arrow.png) 0px 3px no-repeat; float:left; height: 15px;  margin-bottom:11px; width: 15px;}
/*END Links menu style*/


/*Content menu style*/
.rootmenu .contentmenu .title{border-bottom:1px solid #CCC;padding:15px 5px 9px 0;font-size:15px;text-transform:none;font-weight:bold;color:#424242;margin-bottom:7px;text-align:left;height:50px;list-style:none;}
.rootmenu .contentmenu .normaltextmenu{font-weight:normal;line-height:23px;font-family:Arial;text-align:justify;color:#424242;font-size:13px;}
/*END Content menu style*/

/*product thumbnail menu style*/
.rootmenu .product-thumbnail .title{border-bottom:1px solid #CCC; padding:9px 5px 9px 0px; font-size:15px; text-transform:none; font-weight:bold; color:#424242; margin-bottom:7px; text-align:left; height:39px; list-style:none;}
.rootmenu .product-thumbnail .normaltextmenu{ font-weight:normal; line-height:23px; font-family:Arial; text-align:justify; color:#424242; font-size:13px;}
.rootmenu .product-thumbnail img{width:100%;}
/*END Content menu style*/


/*Brands menu style*/
.rootmenu .brandsmenu .title{ padding:15px 5px 0px 0px; font-size:15px; text-transform:none; font-weight:bold; color:#424242; margin-bottom:0px; text-align:left; height:39px; list-style:none;}
.rootmenu .brandsmenu .normaltextmenu{ font-weight:normal;line-height:23px; font-family:Arial; text-align:justify; color:#424242; font-size:13px;}
.rootmenu .brandsmenu img{width:100%;}
.rootmenu .brandsmenu .logoicon{ margin:1% 0%; }
.rootmenu .brandsmenu .logoicon img{ width:100%; border:solid 1px #e1e1e1; border-radius:2px; }
/*END Brands menu style*/

/*Tab Menu style*/
.rootmenu .tabmenu{ min-height:302px; }
.rootmenu .tabmenu .tabimtag{ width:100%;display:block;}
.rootmenu .tabmenu .tabimtag img {margin: 0 auto; vertical-align: middle;}
.rootmenu .tabmenu .tabimgtext{color:#000; text-align:center; font-size:12px; line-height:23px;}
.rootmenu .tabmenu .mainmenuwrap{ width:100%; display:block; position:relative; }
.rootmenu .tabmenu .vertical-menu{ display:block; margin:0px; padding:0px; font-size:12px; min-height:311px;}
.rootmenu .tabmenu .vertical-menu > li > a{ display:block; background-color:#f5f5f5; border-bottom:solid 1px #e2e2e2; padding:11px 15px;  color:#424242; line-height:24px; font-weight:bold;}
.rootmenu .tabmenu .vertical-menu > li > a > span{ float:right;}
.rootmenu .tabmenu .vertical-menu > li > a:hover{ text-decoration:none; background-color:#fff; color:#424242;}

.rootmenu .tabmenu .vertical-menu > li:hover>a {text-decoration:none; background-color:#fff; color:#424242;}

.rootmenu .tabmenu .vertical-menu > li .openactive{display:block;}
.rootmenu .tabmenu .vertical-menu > li:hover .verticalopen{ display:block;}
.rootmenu .tabmenu .verticalopen{min-height:318px; display:none; position:absolute; right:0px; top:0px; background-color:#fff; color:#000;   }

.rootmenu .tabmenu .vertical-menu .clearfix .verticalopen:first-child{display:block;}
.empty_category > span {color: #f47d4e;font-size: 13px; position: absolute;right: 40%;top: 40%;}
.rootmenu .tabmenu .cat-arrow{background:url(../images/cat_arrow.png) 0px 3px no-repeat; float:left; height: 15px;  margin-bottom:11px; width: 15px;}
/*END Tab Menu style*/

/* Half Menu */
.view_all{ float:right; margin:9px 0px 0px 0px;}
/*====================*/
.rootmenu .halfmenu {width: 50%;text-align: left;margin: 0px;padding:0px;display: none;position: absolute;top:45px;background-color: #fff;border-bottom:solid 2px #097fb4;border:solid 1px #ccc;border-top:solid 0px;}
.rootmenu .halfmenu .title{border-bottom:1px solid #CCC;padding:9px 5px 9px 0px;font-size:15px;text-transform:none;font-weight:bold;color:#424242;margin-bottom:7px;text-align:left;height:39px;list-style:none;}
.rootmenu .halfmenu{font-size:13px;}
.rootmenu .halfmenu ul{margin:0px;padding:0px;}	
.rootmenu .halfmenu > ul > li{display:block;white-space:nowrap;text-align:left;}	
.rootmenu .halfmenu ul > li > a{font-weight:normal;line-height:18px;text-align:left;padding:6px 10px 6px 6px;background:#fff;background-image:none; border-right: 0 none;display:block;color:#424242;}
.rootmenu .halfmenu .cat-arrow{background:url(../images/cat_arrow.png) 0px 3px no-repeat; float:left; height: 15px;  margin-bottom:11px; width: 15px;}
.rootmenu .halfmenu img {float: left;height: 35px;margin-right: 10px;width: 35px;}
/*====================*/

	

.rootmenu .contacthalfmenu .title{border-bottom:1px solid #CCC;padding:9px 5px 9px 0px;font-size:15px;text-transform:none;font-weight:bold;color:#424242;margin-bottom:7px;text-align:left;height:39px;list-style:none;}
.rootmenu .normaltext{font-size:13px; font-family:Arial; line-height:23px; font-weight:normal; text-align:justify;}
.rootmenu .contactdetail{ list-style:none; margin:0px; padding:0px;}
.rootmenu .contactdetail li{padding:0px 0px;}
.rootmenu .contactdetail li a{ text-decoration:underline; color:#000; }

.rootmenu .menu_form{width:100%; display:block;}
.rootmenu .menu_form .btnstyle01{font-weight:bold; text-transform:uppercase; color:#fff; font-size:14px; height:34px; cursor:pointer;}
.rootmenu .menu_form input[type="text"]{width:100%;border:1px solid #e2e2e2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#000;font-size:13px;padding:8px 5px;margin-bottom:8px;}
.rootmenu .menu_form textarea{width:100%;border:1px solid #e2e2e2;border-radius:5px;color:#000;font-size:13px;padding:8px 5px;margin-bottom:8px;min-height:122px;font-family:Arial;}
.rootmenu .menu_form input[type="submit"]{width:25%; color:#ffffff; display:block; height:28px; float:right;  border:solid 0px; margin-right:15px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; background-color:#097fb4;}
.rootmenu .menu_form input[type="button"] {width:25%; color:#ffffff; display:block; height:28px; float:right; border:solid 0px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;  background-color:#097fb4;}
/* Half Menu */

/*Drop down Menu style*/
.rootmenu-submenu{display: none;position: absolute;top: 45px;min-width: 230px;z-index: 1000;margin: 0px;padding: 0px;font-size: 12px;list-style: none;border-bottom:solid 2px #097fb4;}
.rootmenu-submenu li{ margin: 0; padding: 0; position: relative;}
.rootmenu-submenu > li > a {font-weight:normal;color:#000;background: #f6f6f6;text-align: left;border-bottom: 1px solid #e2e2e2;display: block;line-height: 22px;padding: 8px 15px 8px 15px;text-transform: none;border-right: solid 0px #000;	height: auto;}
.rootmenu-submenu li:hover>a {background-image: none;background-color: #e2e2e2;color: #000;}
.rootmenu-submenu > li > a > .fa-caret-right{ margin-right:4px;}
.rootmenu-submenu-sub > li > a > .fa-caret-right{ margin-right:4px;}
.rootmenu-submenu-sub-sub > li > a > .fa-caret-right{ margin-right:4px;}
.rootmenu-submenu-sub > li{ position:relative; }
.rootmenu-submenu-sub > li > a {font-weight:normal;color:#000 !important;background: #f6f6f6;text-align: left;border-bottom: 1px solid #e2e2e2;display: block;line-height: 22px;padding: 8px 15px 8px 15px;text-transform: none;border-right: solid 0px #000;height: auto;}
.rootmenu-submenu-sub li:hover>a {background-image: none;background-color: #e2e2e2;color: #000;text-decoration:none !important;}
.rootmenu-submenu-sub-sub > li{ position:relative; }
.rootmenu-submenu-sub-sub > li > a {background: #f6f6f6;
	text-align: left;
	border-bottom: 1px solid #e2e2e2;
	display: block;
	line-height: 22px;
	padding: 8px 15px 8px 15px;
	text-transform: none;
	border-right: solid 0px #000;
	height: auto;
	color:#000 !important;
	font-weight:normal;
}
.rootmenu-submenu-sub-sub li:hover>a {
	background-image: none;
	background-color: #e2e2e2;
	color: #000;
}

.rootmenu-submenu > li a:hover {
	background-image: none;
	background-color: #fff;
	border-radius: 0px!important;
	color: #000;
	text-decoration:none !important;
}
.rootmenu-submenu .cat-arrow{background:url(../images/cat_arrow.png) 0px 3px no-repeat; float:right; height: 15px;  margin-bottom:11px; width: 15px;}

/*Drop down Menu style*/



.megamenu .carousel-caption{
	bottom:0px;
	background-color:rgba(0,0,0,0.7);
    font-size: 13px;
    height: 31px;
    left: 0;
    padding: 7px 0;
    right: 0;
    width: 100%;}

.productslist{display:block; padding:15px;   }
.probox01{ width:100%; display:block; padding:18px;float:left;  margin:0px 0px 0px 0px; position:relative; background-color:#fff; border:solid 1px #f5f5f5;  }
.probox01imgwp{display:block; } 
.proimg {display:block; text-align: center; vertical-align: middle; }
.proimg > a{display: block; text-align:center;}

.proinfo{width:100%; padding:15px 0px 0px 0px; font-family:Arial,Verdana; }
.proname{ width:100%; display:block; font-family:Arial, Helvetica, sans-serif; color:#5e5e5e; font-size:14px; text-align:center; font-weight:bold;}
.proname a{ display:block; color:#5e5e5e;}
.proname a:hover{color:#f26100; text-decoration:underline;}
.addtolinks { width:100%; float:left; margin:0px; padding:10px 0 0 0;}
.addtolinks a { color:#6c6c6c; font-size:11px; text-decoration:underline;}
.addtolinks a:hover{color:#f26100; text-decoration:none;}
.addtolinks .add-to-wish { float:left;}
.addtolinks .add-to-comp { float:right;}
.pricebox { width:100%; float:left; margin:0px; padding:10px 0 0 0;}
.pricebox span { float:left; color:#5e5e5e; font-size:14px; padding:5px 0; font-weight:bold;}
.pricebox span em { font-style:normal; color:#bebebe; font-size:12px;}
.addtocart-but { float:right; height:30px; line-height:30px; background:#ea8921; color:#fff; font-size:13px; font-weight:bold; -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px; padding:0 15px 0 10px;}

	
/* Mobile rootmenuigation */
.rootmenu-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 12px 7px 12px;
	margin: 6px 7px 0px 7px;
	border-radius: 4px 4px 4px 4px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #002c4c;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #333333;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #424242;
}
.rootmenu-mobile:hover {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
	background-color: #252525;
	border-color: #000;
}
.rootmenu-mobile > .icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	background-image: none;
	background-color: #f5f5f5;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	margin-top: 3px;
}
.rootmenu-click {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
	z-index:100;
}
.rootmenu-click > .rootmenu-arrow { float:right;display: block;height: 23px;width: 25px;margin-top: 10px;margin-right: 8px;background: url(../images/down.png) no-repeat top left;background-size: 25px;}
 .rootmenu-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.rootmenu .rootmenu-submenu ul > li{position: relative;margin: 0px;padding: 0px;}
.rootmenu-text{width:50%;position:absolute;top:0px;left:0px;color:#fff;line-height:44px;text-indent:15px;font-weight:normal;font-size:20px;display:none;text-transform:none;}
.rootmenu-addimg{ width:100%; display:block;}
.rootmenu-addimg img{width:100%;}
.rootmegamenu_block img{width:100%;}
/*Root Col Class */

.root-col-6{width:16.66666666666667%; float:left; display:block; padding:10px;}
.root-col-5{width:20%; float:left; display:block; padding:10px;}
.root-col-4{width:25%; float:left; display:block; padding:10px;}
.root-col-3{width:33.33333333333333%; float:left; display:block; padding:10px;}
.root-col-2{width:50%; float:left; display:block; padding:10px;}
.root-col-1{width:100%; float:left; display:block; padding:10px;}
.root-col-70{width:66.66666666666667%; float:left; display:block; padding:10px;}
.root-col-75{width:75%; float:left; display:block; padding:10px;}


.nav-sections-item-content > .rootmenu {display: block;}
.nav-sections-item-content > .page-main {display: block;}


/*Responsive Class*/

/* General Class */
#not_activated { background: #000 none repeat scroll 0 0; color: #ff0000;padding: 10px;}
#menu_submit_loader{ background: #097fb4 url("../images/category-loader.gif") no-repeat scroll 0 0 / 51px auto; border-radius: 10px; font-size: 0; height: 49px; width: 49px;}
/* */

@media only screen and (min-width:901px){
.rootmenu-list li:hover .megamenu {display: block;}
.rootmenu-list li:hover .contacthalfmenu {display: block;}
.rootmenu-list li:hover .halfmenu {display: block;}
.rootmenu-list li:hover .rootmenu-submenu {display: block;}
.rootmenu-list .rootmenu-submenu .rootmenu-submenu-sub {min-width: 180px;position: absolute;left: 65%;top: 15px;display: none !important;margin: 0px;padding:0px;border-bottom:solid 2px #097fb4;z-index:99;}
.rootmenu-list .rootmenu-submenu li:hover .rootmenu-submenu-sub {display: block !important;list-style: none;margin: 0px}
.rootmenu-list li:hover .rootmenu-submenu .rootmenu-submenu-sub {display: block;}
.rootmenu-list .rootmenu-submenu .rootmenu-submenu-sub .rootmenu-submenu-sub-sub {min-width: 180px;position: absolute;left: 65%;top: 15px;display: none !important;margin: 0px;padding:0px;border-bottom:solid 2px #097fb4;}
.rootmenu-list .rootmenu-submenu .rootmenu-submenu-sub li:hover .rootmenu-submenu-sub-sub {display: block !important;list-style: none;margin: 0px;z-index:100;}
rootmenu-submenu-sub > li{position: relative;padding: 0px;margin: 0px}
.rootmenu-submenu-sub-sub > li {position: relative;padding: 0px;margin: 0px}
.mobilelink {display: none;}
.rootmenu .tabmenu .tabimtag img{max-height:90px; max-width:150px;}
.nav-sections { background:#179bd7 none repeat scroll 0 0;}
}

@media only screen and (min-width:230px) and (max-width:900px) {

.verticalopen{ position:relative !important; display:block !important;}
.rootmenu .tabmenu .tabimtag{ height:auto !important; }
.rootmenu-list > li > a > .homeicon{ display:none !important; }
.rootmenu-list > li > a > em{ display:block !important; font-style:normal; }
.rootmenu-list > li{text-align:left; border-right:0px;}
.megamenu{position: relative;top: 0px;left: 0px;padding:8px;}
.megamenu .carousel .item img{ width:100%;}
.rootmenu-mobile {display: block;}
.mobile-sub {margin: 0px;padding: 0px;list-style: none;float: none;width: 100%;}
.mobile-sub > li {margin: 0px 0px 0px 0px !important;display: block;position: relative;}
.mobile-sub > li > a {display: block;color: #000 !important;padding:5px 10px;line-height:35px;background: #fff !important;border-bottom: solid 1px #ccc;}
.mobile-sub > li > a.active {color: #000 !important;box-shadow: none}
.mobile-sub > li:hover>a {background-color: #f5f5f5 !important;box-shadow: none;}
.rootmenu {width: 100%;padding: 0px 0px 0px 0px !important;background-color: #fff;margin: 0px 0px;}
.rootmenu-item {width: 100%;float: none;text-align: left;}
.rootmenu-item > a {padding: 13px;line-height: 20px;text-transform: none;position: static !important;}
.rootmenu-click { width:100%;display: block;}
.rootmenu-click02 {display: block;}
.rootmenu-mobile-open {border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;}
.rootmenu-item:hover .rootmenu-submenu {display: none;}
.rootmenu-submenu {position: static;idth: 100%;padding: 0px;box-shadow: none;display:none;}
.rootmenu-submenu:after {border-color: transparent transparent transparent transparent;border-style: none;}
.rootmenu-submenu li {margin: 0px 0px 0px 0px !important;position:relative;}
.rootmenu-submenu a {display: block;color: #000;padding: 12px 25px;background: #fff !important;border-bottom: solid 1px #ccc;}
.rootmenu-submenu li a.active {color: #000 !important;}
.rootmenu-submenu li:hover>a {background-color: #f5f5f5!important;color: #000;}
.rootmenu-submenu-sub {width: 100%;position: static;left: 100%;top: 0;display: none;margin: 0px;padding: 0px;}
.rootmenu-submenu-sub li {margin: 0px 0px 0px 0px !important;padding: 0px;position: relative;}
.rootmenu-submenu-sub a {display: block;color: #000;padding: 10px 25px 10px 25px;background: #fff !important;border-bottom: solid 1px #ccc;font-weight: normal;}
.rootmenu-submenu-sub li a.active {color: #000 !important;}
.rootmenu-submenu-sub li:hover>a {background-color: #a5a5a5 !important;	color: #fff;}
.rootmenu-submenu-sub-sub {	width: 100%;position: static;left: 100%;top: 0;display: none;margin: 0px;padding: 0px;}
.rootmenu-submenu-sub-sub li {margin: 0px 0px 0px 0px !important;}
.rootmenu-submenu-sub-sub a {display: block;color: #000;padding: 10px 25px 10px 25px;background: #fff !important;border-bottom: solid 1px #ccc;font-weight: normal;}
.rootmenu-submenu-sub-sub li a.active {color: #000 !important;}
.rootmenu-submenu-sub-sub li:hover>a {background-color: #606060 !important;color: #fff;}
.rootmenu-text {display: block;}
.rootmenu-submenu .cat-arrow{ display:none !important;}
.skip-link.skip-nav {display:none !important;}
#header-nav{ display:block;}
.rootmenu{width:100%; padding:0; background-color:#199CD7; margin:0px 0px;font-size: 14px !important;}

.rootmenu .halfmenu{ position:relative; width: 100%; top:0px;}
.rootmenu .catproductimg img{width:100%;}
.rootmenu .tabmenu .tabimtag img{width:70%;}
}

@media only screen and (min-width:770px) and (max-width:980px) {
.rootmenu-list > li > a{ padding-left:0px; padding-right:0px;}
}


/*Mega menu Content Responsive*/

@media only screen and (min-width:1024px) and (max-width:1199px) {
.rootmenu .halfmenu { width:60%;}
}

@media only screen and (min-width:901px) and (max-width:1023px) {
.rootmenu-list > li > a{ padding-left:10px; padding-right:10px; }	
.rootmenu .contacthalfmenu{ width:100%; }
.rootmenu-list .rootmenu-submenu .rootmenu-submenu-sub{ right:65%; left:auto !important; }
.rootmenu .halfmenu { width:65%;}
}

@media only screen and (min-width:768px) and (max-width:900px) {
.rootmenu .contacthalfmenu{ width: 100%; }
.categoriesmenu .root-col-4{width:100%;}
.linksmenu .root-col-5{width:33.33%;}
.tabmenu .root-col-4{ width:100% ; }
.contentmenu .root-col-4{width:50%;}
.product-thumbnail .root-col-4{width:50%;}
.brandsmenu .root-col-4{width:33.33%;}
.contacthalfmenu .root-col-2{ width:100%;}

.categoriesmenu .root-col-75 { width:100% !important;}
.product-thumbnail .root-col-5 { width:33.33% !important;}

.rootmenu .tabmenu .verticalopen { width:100%}
}

@media only screen and (min-width:501px) and (max-width:767px) {
.rootmenu .halfmenu{ position:relative; width: 100%; top:0px;}
.rootmenu .contacthalfmenu{ position:relative; width: 100%; top:0px;}
.linksmenu .root-col-5{width:100%;}
.tabmenu .root-col-4{ width:100% ; }
.tabmenu .root-col-75{ width:100%; }
.contentmenu .root-col-4{width:100%;}
.product-thumbnail .root-col-4{width:100%;}
.brandsmenu .root-col-4{width:100%;}
.tabmenu .verticalopen .root-col-6{ width:33.33%; }
.contacthalfmenu .root-col-2{ width:100%;}

.rootmenu .tabmenu .tabimgwpr {min-height:90px;}
.vertical-menu .root-col-5 {width:33.33%;}
.rootmenu .tabmenu .tabimgtext {font-size: 11px !important;line-height:13px !important;}
.product-thumbnail .root-col-5 { width:50% !important;}
.categoriesmenu .root-col-75{width:100%;}
.categoriesmenu .root-col-4{width:100%;}
.linksmenu .root-col-4 { width: 50%;}
}


@media only screen and (min-width: 200px) and (max-width:500px) {
.rootmenu .halfmenu{ position:relative; width: 100%; top:0px;}
.rootmenu .contacthalfmenu{ position:relative; width: 100%; top:0px;}
.categoriesmenu .root-col-4{width:100%;}
.categoriesmenu .root-col-3{width:100%;}
.categoriesmenu .root-col-75{width:100%;}
.linksmenu .root-col-3{width:100%;}
.linksmenu .root-col-4{width:100%;}
.linksmenu .root-col-5{width:100%;}
.linksmenu .root-col-6{width:100%;}
.tabmenu .root-col-4{ width:100% }
.tabmenu .root-col-75{ width:100%; }
.contentmenu .root-col-4{width:100%;}
.product-thumbnail .root-col-4{width:100%;}
.brandsmenu .root-col-4{width:100%;}
.halfmenu .root-col-2{ width:100%;}
.tabmenu .verticalopen .root-col-6{ width:50%; min-height: 217px; }
.contacthalfmenu .root-col-2{ width:100%;}
 
.rootmenu .tabmenu .tabimgwpr {min-height:90px;}
.vertical-menu .root-col-5 {width:33.33%;}
.rootmenu .tabmenu .tabimgtext {font-size: 11px !important;line-height:13px !important;}
.product-thumbnail .root-col-5 { width:100% !important;}
 
}