<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var \Magento\Customer\Block\Form\Login\Info $block
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>

<div class="col-xs-12 col-md-6 block-new-customer-wrap">
    <div class="block-new-customer">
        <div class="block-title">
            <h2><?php echo $block->escapeHtml(__('Apply for an online account')) ?></h2>
        </div>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('apply_for_account')->toHtml();?>
        </div>
    </div>
</div>
<?php endif; ?>