<?php
/** @var $block \Magento\Framework\View\Element\Template */
?>
<h1>Quick Order Form</h1>
<p>
    Fill in the order form below by entering a SKU or searching for a product by
    name in the "product" boxes below.
</p>
<p>
    When you have added all the items you wish to add to your basket, click the
    button at the bottom and you will be redirected to the shopping cart.
</p>
<div class="fts-rapid-order">
    <form method="post" action="/rapidorder/cart">
        <div class="fro-table">
            <div class="fro-thead">
                <div class="fro-tr">
                    <div class="fro-th">Product</div>
                    <div class="fro-th">Length</div>
                    <div class="fro-th">Quantity</div>
                    <div class="fro-th">Unit Price</div>
                    <div class="fro-th">&nbsp;</div>
                </div>
            </div>
            <div class="fro-tbody">
                <div class="fro-tr search-bar">
                    <div class="fro-td fro-product-col">
                        <label for="searchBox">Add a product...</label>
                        <div class="field search">
                            <div class="control">
                                <input
                                    data-mage-init='{"rapidOrderSearch": {
                                        "url":"<?=$block->getUrl('rapidorder/ajax/search', ['_secure' => $block->getRequest()->isSecure()]) ?>",
                                        "renderUrl":"<?=$block->getUrl('rapidorder/product/render', ['_secure' => $block->getRequest()->isSecure()]) ?>",
                                        "destinationSelector":"#search_fro_autocomplete_0"
                                    }}'
                                    type="text"
                                    id="searchBox"
                                    name="searchBox"
                                    value=""
                                    placeholder="Product name / SKU"
                                    class="input-text"
                                    maxlength="128"
                                    role="combobox"
                                    aria-haspopup="false"
                                    aria-autocomplete="both"
                                    autocomplete="off"/>
                                <div id="search_fro_autocomplete_0" class="search-autocomplete"></div>
                            </div>
                        </div>
                        <span class="product-selection"></span>
                    </div>
                    <div class="fro-td fro-length-col">
                    </div>
                    <div class="fro-td fro-qty-col">
                    </div>
                    <div class="fro-td fro-price-col">
                    </div>
                    <div class="fro-td fro-action-col">
                    </div>
                </div>
            </div>
        </div>
        <button class="action primary fro-atc" type="submit">Add to Cart</button>
    </form>
</div>