<?php

$product = $this->getProduct();

if (!$product) return;

?>
<div class="fro-tr fro-search-result" data-mage-init='{"rapidOrderResult": {
    "sku": "<?=$product->getSku()?>",
    "price": "<?=$this->getFormattedPrice()?>",
    "priceUpdateUrl": "<?=$block->getUrl('rapidorder/product/price', ['_secure' => $block->getRequest()->isSecure()]) ?>"
}}'>
    <div class="fro-td fro-product-col">
        <?=$product->getName()?><br>
        <strong>(<?=$product->getSku()?>)</strong>
        <input type="hidden" name="sku[]" value="<?=$product->getSku()?>">
    </div>
    <div class="fro-td fro-length-col">
	<?php 
	$options = $product->getOptions();
	$checkType = "";
	$result = false;
	
		foreach($options as $i => $item) {
			
			$checkType = $options[$i]->getTitle();
			
				if ($checkType == "Length(m)"){	
				
					$result = true;
					
				}

		}
	?>
        <?php if ($options && $product->getUnit() == "MTR" && $result) { ?>
            <label>Length (m)</label>
            <input step="any" type="number" name="length[]" placeholder="Length (m)" class="length-input">
        <?php } elseif ($product->getUnit() == "MTR") { ?>
            <label>Length</label>
            <span><?=$product->getPacksize()?> meters</span>
        <?php } ?>
    </div>
    <div class="fro-td fro-qty-col">
        <label>Quantity</label>
        <input type="number" name="qty[]" placeholder="Quantity" value="1">
    </div>

    <div class="fro-td fro-price-col">
        <label>Unit Price</label>
        <span class="price"></span>
    </div>

    <div class="fro-td fro-action-col">
        <button class="fro-delete-button" type="button">Delete</button>
    </div>
</div>
