<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Hudson\SampleRoom\Block\Orders\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view container">
    <div class="row">
        <div class="col-md-6">
            <div class="block-title">
                <strong><?php /* @escapeNotVerified */
                    echo __('Order Information') ?></strong>
            </div>
            <div class="block-content">
                <div> Order # <?php echo $_order->getId() ?></div>
                <div> Created At: <?php echo $block->formatDate($_order->getCreatedAt()) ?></div>
                <div> Total Items: <?php echo $_order->getTotalItems(); ?></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="block-title">
                <strong><?php /* @escapeNotVerified */
                    echo __('Delivery Address') ?></strong>
            </div>
            <div class="block-content">
                <div><?php echo $_order->getHtmlAddress() ?></div>
            </div>
        </div>
    </div>

</div>
