<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var $block \Hudson\SampleRoom\Block\Orders\Info */ ?>

<?php $_order = $block->getOrder() ?>
<div class="table-wrapper order-items">
    <table class="data table table-order-items" id="my-orders-table" summary="<?php /* @escapeNotVerified */ echo __('Items Ordered') ?>">
        <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Samples Ordered') ?></caption>
        <thead>
            <tr>
                <th class="col name"><?php /* @escapeNotVerified */ echo __('Product Name') ?></th>
                <th class="col sku"><?php /* @escapeNotVerified */ echo __('SKU') ?></th>
                <th class="col qty"><?php /* @escapeNotVerified */ echo __('Qty') ?></th>
            </tr>
        </thead>
        <?php $_items = $_order->getAllItems(); ?>
        <?php $_index = 0; ?>
        <?php $_count = $_items->count(); ?>
        <?php foreach ($_items as $_item): ?>
            <tbody>
                    <tr>
                        <td class="col name"><?php /* @escapeNotVerified */ echo $_item->getName() ?></td>
                        <td class="col sku"><?php /* @escapeNotVerified */ echo $_item->getSku() ?></td>
                        <td class="col qty"><?php /* @escapeNotVerified */ echo __('1') ?></td>
                    </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>
