<?php $_product = $block->getProduct(); ?>

<?php if ($_product->getResource()->getAttribute('packsize')->getFrontend()->getValue($_product)){ ?>

	<p>Pack size: <?php echo $_product->getResource()->getAttribute('packsize')->getFrontend()->getValue($_product) ?></p>

<?php } ?>

<?php if ($_product->getResource()->getAttribute('colour')->getFrontend()->getValue($_product)){ ?>

	<p>Colour: <?php echo $_product->getResource()->getAttribute('colour')->getFrontend()->getValue($_product) ?></p>

<?php } ?>

<?php if ($_product->getResource()->getAttribute('unit')->getFrontend()->getValue($_product)){ ?>

	<p>Unit: <?php echo $_product->getResource()->getAttribute('unit')->getFrontend()->getValue($_product) ?></p>

<?php } ?>

<?php if ($_product->getResource()->getAttribute('unitprice')->getFrontend()->getValue($_product)){ ?>

<p>Unit Price: £<?php echo $_product->getResource()->getAttribute('unitprice')->getFrontend()->getValue($_product) ?></p>

<?php } ?>