<?php $_product = $block->getProduct(); ?>

<?php if ($_product->getResource()->getAttribute('disclaimertext')->getFrontend()->getValue($_product)){ ?>
	<div style="border: 1px solid #f0082e;padding: 10px;">
		<div style="display: inline-block; clear: both; width: 25px; margin-top: 10px; margin-left: 10px;margin-right: 10px; vertical-align: top;">
			<svg viewBox="0 0 330 330">
				<use xlink:href="#info"></use>
			</svg>
		</div>
		<p style="display: inline-block; width: 90%; font-size: 18px;"><?php echo $_product->getResource()->getAttribute('disclaimertext')->getFrontend()->getValue($_product) ?></p>
	</div>
<?php } ?>