<style>

div,span,p,a,h1,h2,h3,h4 {
	letter-spacing: 0.5px;	
}

.demo-store {
	background: #f0082e;
	color: white;
	text-align: center;
	Display: block;
	padding: 5px 0px;
}

/*body {
	background: red;
}*/
.nav-sections {
	background: white;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.cms-home .nav-sections, .cms-trade-home .nav-sections {
	border: none;
	margin-bottom: 0px;
}

.navigation {
	background: white;
	z-index: 9;
}
.nav-sections-item-content > .navigation {
	text-align: center;
}
.action.primary {
	background: #f0082e;
	border: 1px solid #f0082e;
}
.action.primary:hover {
	background: #dc072a;
	border: 1px solid #f0082e;
}
.product-info-main .stock.available {
	display: none !important;
}

#super-product-table tbody:nth-child(odd) {
	background-color: #f6f6f6;
}

#super-product-table tbody .product-item-name {
	font-weight: 600;
}

#super-product-table tbody .product-item-name,
#super-product-table tbody .table.grouped .price-box .price {
	text-align: left;
	font-size: 12px;	
}

.product-item-name {
	font-size: 14px;
}

.product-info-main .price-box {
	margin-top: 5px;
}

.footer {
	padding-top: 50px;
}

/*div.actions {
	display: block !important;
}
.product-info-main .box-tocart .action.tocart {
	width: 100%;
}*/

.navigation .level0 > .level-top {
	color: black;
	line-height: 53px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.product.data.items > .item.title:not(.disabled) > .switch:active {
	padding-bottom: 21px;
}
.product-item-link:hover {
	color: #f0082e;
}

</style>

<svg height="100px" width="100px" style="position:absolute;margin-left:-100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px">

	<g id="info" viewBox="0 0 330 330">
		<path d="M165,0C74.019,0,0,74.02,0,165.001C0,255.982,74.019,330,165,330s165-74.018,165-164.999C330,74.02,255.981,0,165,0z
			M165,300c-74.44,0-135-60.56-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.44,239.439,300,165,300z"/>
		<path d="M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991
			c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z"/>
		<path d="M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z
			"/>
	</g>

	<g id="phone" viewBox="0 0 473.806 473.806">
		<path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4
			c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8
			c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6
			c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5
			c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26
			c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9
			c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806
			C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20
			c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6
			c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1
			c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3
			c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5
			c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8
			c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9
			l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1
			C420.456,377.706,420.456,388.206,410.256,398.806z"/>
		<path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2
			c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11
			S248.656,111.506,256.056,112.706z"/>
		<path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11
			c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2
			c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z"/>
	</g>

	<g id="ruler" viewBox="0 0 512 512">
		<path d="M344.615,0H167.385c-5.438,0-9.846,4.408-9.846,9.846v492.308c0,5.438,4.408,9.846,9.846,9.846h177.231
			c5.438,0,9.846-4.408,9.846-9.846V9.846C354.462,4.408,350.053,0,344.615,0z M334.769,492.308H177.231v-29.538h39.385
			c5.438,0,9.846-4.408,9.846-9.846s-4.408-9.846-9.846-9.846h-39.385v-29.538h29.866c5.438,0,9.846-4.408,9.846-9.846
			s-4.408-9.846-9.846-9.846h-29.866v-29.538h39.385c5.438,0,9.846-4.408,9.846-9.846s-4.408-9.846-9.846-9.846h-39.385v-29.538
			h29.866c5.438,0,9.846-4.408,9.846-9.846s-4.408-9.846-9.846-9.846h-29.866v-29.539h39.385c5.438,0,9.846-4.408,9.846-9.846
			s-4.408-9.846-9.846-9.846h-39.385v-29.539h29.866c5.438,0,9.846-4.408,9.846-9.846s-4.408-9.846-9.846-9.846h-29.866v-29.538
			h39.385c5.438,0,9.846-4.408,9.846-9.846c0-5.438-4.408-9.846-9.846-9.846h-39.385v-29.538h29.866
			c5.438,0,9.846-4.408,9.846-9.846s-4.408-9.846-9.846-9.846h-29.866V68.923h39.385c5.438,0,9.846-4.408,9.846-9.846
			c0-5.438-4.408-9.846-9.846-9.846h-39.385V19.692h157.538V492.308z"/>
		<path d="M255.803,57.157c-0.118-0.63-0.315-1.25-0.561-1.841c-0.246-0.601-0.551-1.172-0.906-1.703
			c-0.354-0.542-0.768-1.044-1.221-1.497c-0.453-0.453-0.955-0.867-1.497-1.221c-0.532-0.354-1.103-0.66-1.703-0.906
			c-0.591-0.246-1.211-0.443-1.841-0.561c-1.27-0.256-2.58-0.256-3.84,0c-0.63,0.118-1.25,0.315-1.851,0.561
			c-0.591,0.246-1.162,0.551-1.694,0.906c-0.542,0.354-1.044,0.768-1.497,1.221c-0.453,0.453-0.866,0.955-1.221,1.497
			c-0.354,0.532-0.66,1.103-0.906,1.703c-0.246,0.591-0.443,1.211-0.561,1.841c-0.128,0.63-0.197,1.28-0.197,1.92
			c0,0.64,0.069,1.29,0.197,1.92c0.118,0.63,0.315,1.25,0.561,1.841c0.246,0.601,0.551,1.172,0.906,1.703
			c0.354,0.542,0.768,1.044,1.221,1.497s0.955,0.866,1.497,1.221c0.532,0.354,1.103,0.66,1.694,0.906
			c0.601,0.246,1.221,0.443,1.851,0.561c0.63,0.128,1.28,0.197,1.92,0.197s1.29-0.069,1.92-0.197c0.63-0.118,1.25-0.315,1.841-0.561
			c0.601-0.246,1.172-0.551,1.703-0.906c0.542-0.354,1.044-0.768,1.497-1.221c0.453-0.453,0.866-0.955,1.221-1.497
			c0.354-0.532,0.66-1.103,0.906-1.703c0.246-0.591,0.443-1.211,0.561-1.841c0.128-0.63,0.197-1.28,0.197-1.92
			C256,58.437,255.931,57.787,255.803,57.157z"/>
	</g>

	<g id="shipped" viewBox="0 0 512 512">
		<path d="M476.158,231.363l-13.259-53.035c3.625-0.77,6.345-3.986,6.345-7.839v-8.551c0-18.566-15.105-33.67-33.67-33.67h-60.392
			V110.63c0-9.136-7.432-16.568-16.568-16.568H50.772c-9.136,0-16.568,7.432-16.568,16.568V256c0,4.427,3.589,8.017,8.017,8.017
			c4.427,0,8.017-3.589,8.017-8.017V110.63c0-0.295,0.239-0.534,0.534-0.534h307.841c0.295,0,0.534,0.239,0.534,0.534v145.372
			c0,4.427,3.589,8.017,8.017,8.017c4.427,0,8.017-3.589,8.017-8.017v-9.088h94.569c0.008,0,0.014,0.002,0.021,0.002
			c0.008,0,0.015-0.001,0.022-0.001c11.637,0.008,21.518,7.646,24.912,18.171h-24.928c-4.427,0-8.017,3.589-8.017,8.017v17.102
			c0,13.851,11.268,25.119,25.119,25.119h9.086v35.273h-20.962c-6.886-19.883-25.787-34.205-47.982-34.205
			s-41.097,14.322-47.982,34.205h-3.86v-60.393c0-4.427-3.589-8.017-8.017-8.017c-4.427,0-8.017,3.589-8.017,8.017v60.391H192.817
			c-6.886-19.883-25.787-34.205-47.982-34.205s-41.097,14.322-47.982,34.205H50.772c-0.295,0-0.534-0.239-0.534-0.534v-17.637
			h34.739c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017H8.017c-4.427,0-8.017,3.589-8.017,8.017
			s3.589,8.017,8.017,8.017h26.188v17.637c0,9.136,7.432,16.568,16.568,16.568h43.304c-0.002,0.178-0.014,0.355-0.014,0.534
			c0,27.996,22.777,50.772,50.772,50.772s50.772-22.776,50.772-50.772c0-0.18-0.012-0.356-0.014-0.534h180.67
			c-0.002,0.178-0.014,0.355-0.014,0.534c0,27.996,22.777,50.772,50.772,50.772c27.995,0,50.772-22.776,50.772-50.772
			c0-0.18-0.012-0.356-0.014-0.534h26.203c4.427,0,8.017-3.589,8.017-8.017v-85.511C512,251.989,496.423,234.448,476.158,231.363z
			 M375.182,144.301h60.392c9.725,0,17.637,7.912,17.637,17.637v0.534h-78.029V144.301z M375.182,230.881v-52.376h71.235
			l13.094,52.376H375.182z M144.835,401.904c-19.155,0-34.739-15.583-34.739-34.739s15.584-34.739,34.739-34.739
			c19.155,0,34.739,15.583,34.739,34.739S163.99,401.904,144.835,401.904z M427.023,401.904c-19.155,0-34.739-15.583-34.739-34.739
			s15.584-34.739,34.739-34.739c19.155,0,34.739,15.583,34.739,34.739S446.178,401.904,427.023,401.904z M495.967,299.29h-9.086
			c-5.01,0-9.086-4.076-9.086-9.086v-9.086h18.171V299.29z"/>

		<path d="M144.835,350.597c-9.136,0-16.568,7.432-16.568,16.568c0,9.136,7.432,16.568,16.568,16.568
			c9.136,0,16.568-7.432,16.568-16.568C161.403,358.029,153.971,350.597,144.835,350.597z"/>
		
		<path d="M427.023,350.597c-9.136,0-16.568,7.432-16.568,16.568c0,9.136,7.432,16.568,16.568,16.568
			c9.136,0,16.568-7.432,16.568-16.568C443.591,358.029,436.159,350.597,427.023,350.597z"/>

		<path d="M332.96,316.393H213.244c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017H332.96
			c4.427,0,8.017-3.589,8.017-8.017S337.388,316.393,332.96,316.393z"/>

		<path d="M127.733,282.188H25.119c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017h102.614
			c4.427,0,8.017-3.589,8.017-8.017S132.16,282.188,127.733,282.188z"/>

		<path d="M278.771,173.37c-3.13-3.13-8.207-3.13-11.337,0.001l-71.292,71.291l-37.087-37.087c-3.131-3.131-8.207-3.131-11.337,0
			c-3.131,3.131-3.131,8.206,0,11.337l42.756,42.756c1.565,1.566,3.617,2.348,5.668,2.348s4.104-0.782,5.668-2.348l76.96-76.96
			C281.901,181.576,281.901,176.501,278.771,173.37z"/>

	</g>

</svg>