<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $context = $objectManager->get('\Magento\Framework\App\Http\Context'); ?>
<?php $isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH); ?>
<?php $customerSession = $objectManager->get('Magento\Customer\Model\Session'); ?>
<?php if (!$isLoggedIn): ?>

<style>
.trust-bar {
background-color: #f6f6f6;
border-top: 2px solid #f0082e;
text-align: center;
padding-bottom: 30px;
padding-top:20px;
}
.trust-bar p {
display: block;
text-align: center;
}
</style>
<div class="trust-bar">

<h3><a href="/coronavirus-covid19-update-june-2020" style="text-decoration: underline;">Coronavirus (Covid19) Update January 2021</a></h3>

</div>
<?php endif; ?>

<div class="trust-bar">
<div class="trust-bar__message">
<div class="trust-bar__icon">
<svg viewBox="0 0 473.806 473.806">
<use xlink:href="#phone"></use>
</svg>		
</div>
<p><span>Orderline <a href="tel:+44(0)141 814 3500">+44(0)141 814 3500</a></span>9am - 5pm Monday to Friday</p>
</div>

<?php 
$currentUrl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);

if ($isLoggedIn && !strpos($currentUrl,'checkout')): ?>
<div class="trust-bar__message">
<div class="trust-bar__icon">
<img class="portal-img" src="/media/logo/stores/1/Eclipse.png" alt="contact" />
</div>
<div class="box-content-trust">
                <p id="support-portal-trust">
                    <script>
                    require(["jquery", "AjaxCrossOrigin"], function($){
                        (function($){


                            function gen_code(){
<?php
$customerSessionFactor = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();
$customerEmail = $customerSessionFactor->getCustomer()->getEmail();

    echo 'var email = "' . $customerEmail . '"';
?>
                        
                                email = email.replace('@', '%40');
                                
                                var _url = "https://jsonp.afeld.me/?url=https%3A%2F%2Fonline.superoffice.com%2FCust18166%2FCS%2Fscripts%2Fcustomer.fcgi%3F_sf%3D0%26action%3DsafeParse%26noContentType%3Dtrue%26includeId%3Dgenerate%26key%3DpBAcc1jh4bMSp28K%26email%3D"+email;
        
                                $.ajax({
                                    url: _url,
                                    method: "POST",
                                    type: "jsonp"
                                }).success(function(data){
                                    
                                    
                                    var url = "https://online.superoffice.com/Cust18166/CS/scripts/customer.fcgi?_sf=4&action=safeParse&includeId=redirect&key=rBXc2pMAWyDFtOPG&customtoken=" + data.token
                                    $('#support-portal-trust').html('<a id="super-office-trust" href="'+url+'" target="_blank"> Click here for the NEW</br> Online Customer Service Portal</a>');
                                }).fail(function(e){
                                    console.log(e);
                                });
                            }
                            
                            
                            
                            gen_code();
                            
                            $('body').on('click', '#super-office-trust', function(){
                                setTimeout(function(){
                                    gen_code();
                                }, 1500);
                            });


                        })(jQuery);
                    });
                    
                    </script>
                    
                </p>
            </div>
</div>
<?php endif; ?>

<div class="trust-bar__message">
<div class="trust-bar__icon">
<svg viewBox="0 0 512 512">
<use xlink:href="#shipped"></use>
</svg>
</div>
<p><span>Next Day Delivery Service* </span>*orders placed before </br>4pm Mon-Thur & 3:30pm Fri</p>
</div>

<div class="trust-bar__message" id="mtm-redirect">
<div class="trust-bar__icon">
<img class="mtm-img" src="/media/logo/stores/1/window.svg" alt="contact" />
</div>
<p><span>Made to Measure Blinds </span>Click here to order online</p>
</div>

</div>

<style>
#super-office-trust{
color: #F0082E;
font-weight: bold;
}
img.portal-img {
    max-width: 45px !important;
}
</style>
