<?php
/** @var $block \Hudson\SampleRoom\Block\Product\AddSample */
?>

<?php $_product = $block->getProduct(); ?>

<?php if($block->isSampleAvailable($_product)) { ?>

<form class="form form-sample" action=<?php echo $block->getAddSampleUrl(); ?> method="post" id="form-validate"
      enctype="multipart/form-data" autocomplete="off">
    <?php echo $block->getBlockHtml('formkey') ?>
    <input hidden name="sample_product_id" id="sample_product_id" type="number" value="<?php echo $_product->getId(); ?>" />
    <button class="action secondary samplebutton" type="submit" title="Add to Samples Cart">
        <span>Order a Sample</span>
    </button>
</form>

<?php } ?>