<!-- ko -->
<tr class="totals fee excl" data-bind="style:{ display: getStyle() }">
    <th class="mark" colspan="1" scope="row" data-bind="text: getTitle()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->