<?php
/** @var \SetuBridge\Countryspecificproduct\Block\Adminhtml\System\Config\Update $block */
$lastUpdateTime = $block->getLastUpdateTime();
?>

<?php echo __('Create backup'); ?> <input type="checkbox" id="geoip_update_backup" name="backup" value="1" checked="checked" />&nbsp;&nbsp;&nbsp; <?php echo $this->getButtonHtml(); ?>
<br/>
<?php echo __('Last update') . ": " ?>
<span id="database_update_info"><?php echo $lastUpdateTime ? $lastUpdateTime : __('n/a')?></span>
<script type="text/javascript">
    function startUpdate() {
        require(['jquery'],function($){
            var dbUpdInfo = jQuery("#database_update_info");
            var createBackup = $('#geoip_update_backup').is(':checked');
            var databaseType = $('#countryspecificproduct_general_section_geoip_database_type').val();
            dbUpdInfo.hide();
            $.ajax({
                type: "POST",
                url: "<?php echo $this->getFormUrl() ?>",
                data: {form_key: "<?php echo $this->getFormKey() ?>", backup: createBackup, type: databaseType},
                dataType: "json",
                showLoader: true,
                success: function(data) {
                    dbUpdInfo.text(data.last_update);
                    dbUpdInfo.show();
                },
                error: function(data) {
                    dbUpdInfo.show();
                }
            });
        })

    }
</script>