<?php /** @var  $block \Hudson\SampleRoom\Block\Cart\View */ ?>

<?php
$items = $block->getCartItems();
$imageId = "category_page_grid";
?>

<?php if($items && $items->getSize() > 0){ ?>
<div class="cart-items">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Product Code</th>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($items as $item){

            if(!$productID = $item->getProductId()) continue;

            /** @var $product \Magento\Catalog\Model\Product */
            $product = $block->getProductById($productID);

            $productImage = $block->getImage($product, $imageId); ?>


        <tr id="sample_item_<?php echo $item->getId() ?>">
            <td>
                <div class="sample-image-holder" style="max-width: 40px;">
                <?php echo $productImage->toHtml(); ?>
                </div>
            </td>
            <td><?php echo $block->formatSku($product) ?></td>
            <td><?php echo $product->getName() ?></td>
            <td>1</td>
            <td><form class="hidden form form-sample" action=<?php echo $block->getRemoveUrl(); ?> method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
                    <?php echo $block->getBlockHtml('formkey') ?>
                    <input hidden name="sample_item_id" id="sample_item_id" type="number" value="<?php echo $item->getId(); ?>" />
                    <button id="sample-button" type="submit" class="action secondary" value="Remove">
                        <span>Remove</span>
                    </button>
                </form></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
    <div class="sampleroom-cart-form">
    <form class="hidden form form-sample" action=<?php echo $block->getPostUrl(); ?> method="POST" id="form-validate" enctype="multipart/form-data" autocomplete="off">
        <?php echo $block->getBlockHtml('formkey') ?>

            <fieldset class="fieldset">
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Delivery Details') ?></span></legend><br>
                <?php echo $block->getBlockHtml('formkey')?>
                <div class="field name required">
                    <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label>
                    <div class="control">
                        <input type="text" name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" class="input-text required">
                    </div>
                </div>
                <div class="field company required">
                    <label class="label" for="company"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                    <div class="control">
                        <input type="text" name="company" id="company" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                    </div>
                </div>
                <div class="field telephone">
                    <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                    <div class="control">
                        <input type="text" name="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" id="telephone">
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address') ?></span></legend><br>
                <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                <div class="field street required">
                    <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                    <div class="control">
                        <input type="text" name="street[]" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"  />
                        <div class="nested">
                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                                <div class="field additional">
                                    <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?></span>
                                    </label>
                                    <div class="control">
                                        <input type="text" name="street[]" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                    </div>
                                </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                </div>

                <div class="field city required">
                    <label class="label" for="city"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                    <div class="control">
                        <input type="text" name="city" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                    </div>
                </div>
                <div class="field region">
                    <label class="label" for="region_id"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                    <div class="control">
                        <input type="text" id="region" name="region" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"/>
                    </div>
                </div>
                <div class="field zip required">
                    <label class="label" for="zip"><span><?php /* @escapeNotVerified */ echo __('Postcode') ?></span></label>
                    <div class="control">
                        <input type="text" name="postcode"  title="<?php /* @escapeNotVerified */ echo __('Postcode') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                    </div>
                </div>
                <div class="field country">
                    <label class="label" for="country"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                    <div class="control">
                        <input type="text" name="country" value="United Kingdom" title="<?php /* @escapeNotVerified */ echo __('Country') ?>" id="zip" class="input-text validate-country disabled" disabled>
                    </div>
                </div>

        <button type="submit" class="action primary" value="ORDER NOW">
            <span>ORDER NOW</span>
        </button>
    </form>
    </div>
<?php } else { ?>
<p> You have no items in your SampleRoom cart. You can add samples to this cart from the product pages.</p>
<?php } ?>