.boxed {
    overflow: auto;
}

.ln_overlay {
    display: none;
}

#ln_slider_text_price {
    margin-top: 10px;
}

.filter-mobile {
    display: none;

        @include min-screen($screen__m) {
            display: block;
        }
        
}

.filter-current {
    background-color: #f6f6f6;
    padding: 20px;
}

.filter-actions {
    background-color: #f6f6f6;
    padding: 0px 20px 20px 20px;
}

.filter-options {
    padding: 0px 20px 0px 20px;

    @include min-screen($screen__m) {
        padding: 0px;
    }

}

.filter-options-content ol.items.boxed::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #dadada;   
}

.filter-options-content ol.items.boxed::-webkit-scrollbar {
    width: 8px;
    background-color: #dadada;
}

.filter-options-content ol.items.boxed::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333;    
}

.block.filter {
    margin-bottom: $indent__xl;

    .filter-title {
        margin-bottom: $indent__base;

        strong {
            font-size: 18px;
        }
    }
}

.block-subtitle {
    display: block;
    margin-bottom: $indent__s;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.filter-current {
    .item {
        margin-bottom: $indent__s;

            .action.remove {
                color: #f0082e;
                font-weight: 600;
            }
    }

    .filter-label {
        display: block;
        font-weight: $font-weight__bold;

        &:after {
            content: ':';
        }
    }

    + .filter-actions {
        margin-bottom: $indent__l;
    }
}

.filter-options-content {
    .filter-count-label {
        @extend .abs-visually-hidden;
    }
}

.filter-options {
    margin: 0;

    .filter-options-title {
        display: block;
        margin-bottom: $indent__s;
        border-bottom: 1px solid #cccccc;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 10px;
        margin-top: 20px;
        cursor: pointer;

        &:after {
            content: 'v';
            float: right;
            color: #ccc;
        }
    }

    a {
        color: #333;
    }

    .filter-options-content {
        margin: 0 0 $indent__m;

        .item {
            margin-bottom: 3px;

            input {
                margin-right: 10px;
            }

        }
    }

    .count {
        color: $text__color__muted;

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }
}

.items {
    @extend .abs-reset-list;
}

.filtered {
    .items {
        margin: 15px 0;
    }

    .item {
        position: relative;
        padding-left: 22px;
        margin-bottom: 6px;

        .label {
            font-weight: $font-weight__bold;
        }

        .action.remove {
            @extend .abs-remove-button-for-blocks;
            position: absolute;
            left: -6px;
            top: 0;
        }
    }

    & + .actions {
        margin-bottom: 35px;
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
    .page-with-filter {
        .columns {
            .sidebar-main {
                order: 0;
            }
        }
    }
}
