//
//  Common
//  _____________________________________________

body {
    background-color: $page__background-color;
}

.cms-no-route {
    #maincontent {
        padding-top: 30px;
    }
}

.ui-slider-handle {
    background: #333 !important;
}

//
//  Header
//  ---------------------------------------------

.panel.wrapper {
    display: inline-block;
    float: right;
}

.minicart-wrapper {

    .action.showcart {

        .counter-number {
            font-size: 16px;
            color: #333;
            font-weight: 600;
        }

    }

}

.trust-bar {
    background-color: #f6f6f6;
    border-top: 2px solid #f0082e;
    text-align: center;

    a {
        color: #191919;
    }

    p {
        margin-bottom: 8px;
        display: block;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
    }

    .trust-bar__icon {
        display: inline-block;
        width: 35px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .trust-bar__message {
        padding-top: 5px;
        padding-bottom: 5px;

        &:not(:first-of-type) {
            display: none;
        }

        @include min-screen($screen__m) {
            padding-left: 20px;
            padding-right: 20px;
        } // close media query

        @include min-screen($screen__l) {
            display: inline-block;

            &:not(:first-of-type) {
                display: inline-block;
            } // close nth

        } // close media query

        @include min-screen($screen__xl) {
            padding-left: 80px;
            padding-right: 80px;
        }

    } // close message

    span {
        font-weight: 600;
        display: block;
    }

}


.page-header {
    background-color: #fff;
}

.header {
    &.content {
        @extend .abs-add-clearfix;
        padding-top: $indent__s;
        position: relative;
    }

    &.links {
        float: right;
    }
}

.header {
    &.panel {
        & > .header.links {
            list-style-type: none;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            padding-left: 0px;
            padding-top: 6px;

            @include min-screen($screen__s) {
                padding-top: 0px;
                font-size: 14px;
            }

            .account, .login {

                @include min-screen($screen__s) {

                    &:after {
                        height: 20px;
                        width: 15px;
                        fill: #8f8f8f;
                        content: '';
                        background: url('https://eclipseblinds.co.uk/media/wysiwyg/profile.svg') no-repeat;
                        margin: inherit;
                        display: inline-block;
                        margin-left: 10px;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        pointer-events: all;
                    }
                
                }

            }

            .login {

                @include min-screen($screen__s) {

                    &:after {
                        background: url('https://eclipseblinds.co.uk/media/wysiwyg/login.svg') no-repeat;
                        background-size: contain;
                    }

                }

            }

            a {
                color: #333;

                @media screen and (min-width: 400px) {
                    display: inline-block;
                }

                &:hover {
                    color: #f0082e;
                    text-decoration: none;
                }
            }

        }
    }
}

.logo {
    float: left;
    margin: 8px 0 $indent__s $indent__xl;
    max-width: 40%;
    position: relative;
    z-index: 5;

    @include min-screen($screen__s) {
        max-width: 50%;
    }

    img {
        display: block;
    }

    .page-print & {
        float: none;
    }
}

.page-main {
    & > .page-title-wrapper {
        .page-title + .action {
            margin-top: $indent__l;
        }
    }
}

.action.skip {
    &:not(:focus) {
        @extend .abs-visually-hidden;
    }

    &:focus {
        background: $color-gray94;
        padding: $indent__s;
        box-sizing: border-box;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 15;
    }
}

.quickorder-menu {
    float: right;
    margin-top: 20px;
    font-weight: 600;
    margin-right: 5px;
    font-size: 12px;
    text-transform: uppercase;

    span {
        display: none;
    
        @include min-screen($screen__m) {
            display: inline-block;
        }

    }

    @include min-screen($screen__s) {
        margin-right: 10px;
        font-size: 14px;
    }

    a {
        color: #333;

        &:hover {
            color: #f0082e;
        }
    }

}

.sample-room-menu {
    float: right;
    margin-top: 20px;
    font-weight: 600;
    margin-right: 5px;
    font-size: 12px;
    text-transform: uppercase;

    span {
        display: none;
    
        @include min-screen($screen__m) {
            display: inline-block;
        }

    }

    @include min-screen($screen__s) {
        margin-right: 10px;
        font-size: 14px;
    }

    a {
        color: #333;

        &:hover {
            color: #f0082e;
        }
    }

}

.utilities-menu {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    float: left;

    @include min-screen($screen__s) {
        float: right;
    }

    &__trigger {
        position: relative;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #fff;
        font-size: 12px;

        &:hover {
            color: #f0082e;
        }

        span {
            display: none;

            @include min-screen($screen__m) { 
                display: inline-block;
            }

        }

        @include min-screen($screen__s) { 
            padding: 10px 35px 10px 10px;
            font-size: 14px;

            &:after {
                content: "";
                position: absolute;
                right: 10px;
                top: 14px;
                width: 1em;
                height: 0.125em;
                background: black;
                box-shadow: 
                    0 0.25em 0 0 black,
                    0 0.5em 0 0 black;
            }

        }

    }

    &__nav {
        position: absolute;
        top: 39px;
        background-color: #fff;
        z-index:100;
        padding: 15px;
        padding-top: 0px;
        width: 195px;
        display: none;

        ul {
            list-style-type: none;
            padding-left: 0px;

            a {
                color: #333;
                border-bottom: 1px solid #f6f6f6;
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;

                &:hover {
                    text-decoration: none;
                    color: #f0082e;
                }
            }

        }
    }

}

//
//  Global notice
//  ---------------------------------------------

.message.global {
    p {
        margin: 0;
    }

    &.noscript,
    &.cookie {
        @include lib-message($_message-type: global-note);
        margin: 0;
    }

    &.cookie {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 3;

        .actions {
            margin-top: $indent__s;
        }
    }

    &.demo {
        @include lib-message($_message-type: global-caution);
        margin-bottom: 0;
        text-align: center;
    }
}

//
//  Footer
//  ---------------------------------------------

.page-footer {
    background-color: $footer__background-color;
}

.footer {
    padding-top: 100px;
    color: #fff;

    .footer-links__title {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    ul {
        @extend .abs-reset-list;
         font-size: 14px;
        font-weight: 200;

        li {
               margin-bottom: 10px;
         }
      }

     a {
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #f0082e;
        }
     }

    .switcher-store {
         margin: 0 0 30px;
    }

    .legal-footer {
        margin-top: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #fff;
        color: $primary__color__dark;
        font-size: 14px;
        font-weight: 200;

        &__payment-icons {

            @include min-screen($screen__l) {
                float: right;
                max-width: 400px;
                margin-top: -10px;
            }
            
        }
    }
}

.page-header,
.page-footer {
    .switcher {
        margin-right: 10px;

        .options {
            @include lib-dropdown(
                $_dropdown-actions-padding           : 0,
                $_dropdown-list-item-padding         : 0,
                $_dropdown-toggle-icon-content       : $icon-down,
                $_dropdown-toggle-active-icon-content: $icon-up,
                $_icon-font-text-hide                : true,
                $_icon-font-size                     : 22px,
                $_icon-font-line-height              : 22px,
                $_dropdown-list-min-width            : 160px
            );

            ul.dropdown {
                a {
                    display: block;
                    padding: 8px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        li {
            font-size: $font-size__s;
            margin: 0;
        }

        .label {
            @extend .abs-visually-hidden;
        }

        strong {
            font-weight: $font-weight__regular;
        }
    }
}

//
//  Widgets
//  ---------------------------------------------

.sidebar {
    .widget.block:not(:last-child),
    .widget:not(:last-child) {
        @extend .abs-margin-for-blocks-and-widgets;
    }
}

.sidebar-additional {

    ul {
        padding-left: 0px;
        margin-top: 30px;
        list-style-type: none;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f6f6f6;

        a {
            color: #333;

            &:hover {
                color: #f0082e;
            }
        }
    }

    .details {
        padding-left: 20px;
        font-size: 16px;

        address {
            margin-bottom: 20px;
        }

    }


}

.block-reorder {
    padding: 20px;

    .block-title > strong {
        font-weight: 600;
    }

    .action.view {
        background-color: #333;
    }
}

.widget {
    clear: both;

    .block-title {
        @extend .abs-block-title;
    }
}

.page-header,
.page-footer {
    .widget.block {
        margin: $indent__base 0;
    }
}

.no-display {
    @extend .abs-no-display;
}

.featured-products {
    padding-top: 50px;

    h2 {
        text-align: center;
    }

}

//
//  Calendar
//  ---------------------------------------------

.ui-datepicker {
    td {
        padding: 0;
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {

    html,
    body {
        height: 100%;
    }

    .page-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;

        & > .breadcrumbs,
        & > .top-container,
        & > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .minicart-wrapper {
        
        bottom: 3px;
    }

    .minicart-wrapper .action.showcart:after, .minicart-wrapper .action.showcart.active:after {
        font-size: 30px;
    }
	
	 .quickorder-menu{
        float: right;
        margin-top: 10px;
        text-transform: uppercase;
    }


    .sample-room-menu {
        float: right;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .utilities-menu {
        float: right;
        margin-top: 00px;
    }

    .navigation ul {
        padding: 0 8px;
    }

    .header {
        &.panel {
            & > .header.links {
                float: right;
                font-size: 0;
                @include lib-list-inline();
                margin-left: auto;

                & > li {
                    font-size: $font-size__base;
                    margin: 0 0 0 0;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            padding-left: $indent__xs;
                        }
                    }
                }
            }
        }

        &.content {
            @extend .abs-add-clearfix-desktop;
            padding: $indent__l $indent__base 0;
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .header.panel {
            @extend .abs-add-clearfix-desktop;
            padding-bottom: $indent__s;
            padding-top: $indent__s;
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        & > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: $indent__base;
            }
        }
    }

    .logo {
        margin: 0 0 $indent__s 35px;
        img {
            max-height: inherit;
        }
    }

    .footer {
        &.content {

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            @include lib-clearfix();
        }
    }
}

@include min-screen($screen__l) {
    .minicart-wrapper {
        position: relative;
        right: 0;
        bottom: 0;
    }

    .logo {
        margin: 0 0 $indent__s 0px;
    }

    .quickorder-menu {
        margin-right: 20px;
    }
	
    .sample-room-menu {
        margin-right: 20px;
    }

    .utilities-menu {
        margin-right: 10px;
    }

}