<?php 
/**
 * Setubridge Technolabs
 * http://www.setubridge.com/
 * @author SetuBridge
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
$countryary=$block->getCountryarray();
$currantGroup=$block->getCurrentGroup();
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo __('Edit Blocked Countries List');?></h4>
        <div class="form-buttons">
            <input type="checkbox" name="selectall" id="selectall"> <label class="selectcheck" style="margin-right: 14px;" for="selectall"><?php echo __('Check/Uncheck All');?></label>
        </div>
    </div>
    <div id="countryspecificproduct_form" class="fieldset " style="overflow: hidden;">
        <ul id="countrylistul">
            <?php 

            $getsavevalue=$currantGroup->getId() ? $currantGroup->getData('countryselect'):'';
            $savevalueary=explode(",",$getsavevalue);
            $getallkeysary=array_keys($countryary);
            $getallkeys=array_map('strtolower',$getallkeysary);
            $getallvalues=array_values($countryary);
            for($k=0;$k<count($countryary);$k++) {?>
                <li class="<?php echo strtolower($getallkeys[$k])?> countryli"> 
                    <input type="checkbox" value="<?php echo $getallkeys[$k]; ?>" class="setleftcountry" name="country_group[countryselect][]" <?php if(in_array($getallkeys[$k],$savevalueary)) { echo "checked";}?> id="<?php echo $getallvalues[$k];?>"> 
                    <label id="country_lbl"  for="<?php echo $getallvalues[$k];?>" <?php if(in_array($getallkeys[$k],$savevalueary)) {?> class="selectedcountry" <?php }?> > <?php  echo $getallvalues[$k]; ?>  </label>
                </li> <?php }?>             
        </ul>
    </div>
</div>
<script type="text/javascript">

    require([ 'jquery', 'jquery/ui'], function($){ 
        $(document).ready(function($) {
            $("#selectall").click(function(){
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });
    });
</script>