<?php
/**
 * Setubridge Technolabs
 * http://www.setubridge.com/
 * @author SetuBridge
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
$group=$block->getCurrentGroup();
?>
<fieldset class="fieldset admin__fieldset fieldset-wide" id="countryspecificproduct_base_fieldset">
    <legend class="admin__legend legend">
        <span><?php echo __('Add Group Data') ?></span>
    </legend><br>
    <div class="messages">
    </div>

    <div class="admin__field field field-groupcode  required _required" data-ui-id="adminhtml-countrygroups-edit-tab-group-0-fieldset-element-form-field-groupcode">
        <label class="label admin__field-label" for="countryspecificproduct_groupcode" data-ui-id="adminhtml-countrygroups-edit-tab-group-0-fieldset-element-text-country-group-groupcode-label"><span><?php echo __('Group Code') ?></span></label>
        <div class="admin__field-control control">
            <input id="countryspecificproduct_groupcode" <?php if($group && $group->getGroupcode()) :?>disabled=disabled<?php endif;?> name="country_group[groupcode]" data-ui-id="adminhtml-countrygroups-edit-tab-group-0-fieldset-element-text-country-group-groupcode" value="<?php echo $group ? $group->getGroupcode() :'' ?>" title="Group Code" class="required-entry input-text admin__control-text required-entry _required" aria-required="true" type="text">                            
        </div>
    </div>
    <div class="admin__field field field-grouptitle  required _required" data-ui-id="adminhtml-countrygroups-edit-tab-group-0-fieldset-element-form-field-grouptitle">
        <label class="label admin__field-label" for="countryspecificproduct_grouptitle" data-ui-id="adminhtml-countrygroups-edit-tab-group-0-fieldset-element-text-country-group-grouptitle-label"><span><?php echo __('Group Title') ?></span></label>
        <div class="admin__field-control control">
            <input id="countryspecificproduct_grouptitle" name="country_group[grouptitle]" data-ui-id="adminhtml-countrygroups-edit-tab-group-0-fieldset-element-text-country-group-grouptitle" value="<?php echo $group ? $group->getGrouptitle() :'' ?>" title="Group Title" class="required-entry input-text admin__control-text required-entry _required" aria-required="true" type="text"> 
        </div>
    </div>
</fieldset>
