//
//  Variables
//  _____________________________________________

$checkout-modal-popup__width: 800px !default;

//
//  Common
//  _____________________________________________

.checkout-index-index {
    .modal-popup {
        .field-tooltip {
            .field-tooltip-content {
                @extend .abs-checkout-tooltip-content-position-top;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .checkout-index-index {
        .modal-popup {
            .form-shipping-address {
                max-width: $checkout-shipping-address__max-width;
            }

            .modal-footer {
                .action-save-address {
                    float: left;
                    margin: 0 0 0 $indent__s;
                    width: auto;
                }
            }
        }
    }
}

@include min-screen($screen__l) {
    .checkout-index-index {
        .modal-popup {
            .modal-inner-wrap {
                margin-left: (-$checkout-modal-popup__width / 2);
                width: $checkout-modal-popup__width;
                left: 50%;
            }
        }
    }
}
