<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Hudson\SampleRoom\Block\Adminhtml\Order\ViewHeader */ ?>
<?php $_order = $block->getOrder() ?>

<div>
    <h2><strong>Delivery Address</strong></h2>
    <div><?php echo $_order->getHtmlAddress() ?></div>
</div>

