<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Hudson\SampleRoom\Block\Adminhtml\Order\ViewHeader */ ?>
<?php $_order = $block->getOrder() ?>

        <div>
            <div> Created At: <?php echo $block->formatDate($_order->getCreatedAt()) ?></div>
            <div> Total Items: <?php echo $_order->getTotalItems(); ?></div>
            <div> Email Sent: <?php echo ($_order->getEmailSent()) ? "Yes" : "No" ;?></div>
    </div>

