<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?php /* @escapeNotVerified */
            echo __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */
    echo $viewMode; ?> products-<?php /* @escapeNotVerified */
    echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */
                echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?php /* @escapeNotVerified */
                    echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <div class="category-page-sku">
                            <?php
                            $productType = $_product->getTypeId();

                            $productSkuToBeChanged = $_product->getSku();

                            if ($productType == "grouped") {
                                echo str_replace('-GROUPED', '', $productSkuToBeChanged);
                            } else {
                                echo $productSkuToBeChanged;
                            }
                            ?>
                        </div>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */
                               echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */
                                echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>

                        <?php /* @escapeNotVerified */ // This check for custom flag for products not for sale online
                        $notForSale = $_helper->productAttribute($_product, $_product->getPoa(), 'poa') ?>


                        <?php if ($notForSale) { ?>

                            <div class="category-pricing">
                                Contact us for prices
                            </div>

                        <?php } else { ?>

                            <?php /* @escapeNotVerified */
                            $tradePrice = round($_helper->productAttribute($_product, $_product->getUnitprice(), 'unitprice'), 2) ?>
                            <?php /* @escapeNotVerified */
                            $productUnit = $_helper->productAttribute($_product, $_product->getUnit(), 'unit') ?>
                            <?php /* @escapeNotVerified */
                            $yourPrice = $block->getYourProductPrice($_product) ?>


                            <!-- TEMPORARY PRICING -->
                            <div class="category-pricing">

                                <?php if ($productType == "simple") { ?>

                                    <?php /* @escapeNotVerified */
                                    echo $block->getProductPrice($_product) ?>

                                <?php } else { ?>

                                    <p>Trade Price from £<?php echo $tradePrice ?><br/>
                                        <?php if ($yourPrice != "") { ?>
                                            <span class="price">Your Price from <?php echo $yourPrice ?></span><br/>

                                        <?php } ?>
                                        based on 1 (<?php echo $productUnit ?>)</p>

                                <?php } ?>
                            </div>

                        <?php } ?>
                        <!-- TEMPORARY PRICING -->

                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>

                        <?php echo $block->getProductDetailsHtml($_product); ?>


                    </div>
                </div>
                <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }

        </script>
    <?php endif; ?>
<?php endif; ?>
