<!-- ko -->
<tr class="totals fee excl" data-bind="style:{ display: getStyle() }">
    <th class="mark" scope="row">
        <span class="label" data-bind="text: getTitle()"></span>
        <span class="value" data-bind="text: getValue()"></span>
    </th>
    <td class="amount">
    	<span class="price" data-bind="text: getValue(), attr: {'data-th': getTitle()}"></span>
    </td>
</tr>
<!-- /ko -->