.button {
    padding: 10px 30px;
    display: inline-block;
} // close button

.button--primary {
    background-color: #fff;
    color: $text__color;
    transition: 0.3s;
    font-weight: 600;
    font-size: 14px;

    &:visited {
    	color: $text__color;
    }

    &:hover {
        text-decoration: none;
        background-color: #f0082e;
        color: #fff;
    }

}

.samplebutton {
    text-transform: uppercase;
    font-size: 16px;
    background-color: #333;
    padding: 15px;
    
}

@media screen and (max-width: 768px) {
  .samplebutton {
    width: 100%;
    background-color: #fff;
    color: #000;
  }
}

.button--filter {
    width: 100%;

    @include min-screen($screen__m) {
        display: none;
    }

}

.sampleroom-cart-view {

    .action.primary {
        padding: 15px;
        font-size: 16px;
    }

}

a.action.primary,
button {

}
button {
    &:active {
        box-shadow: $button__shadow;
    }
}
a.action.primary {
    @include lib-link-as-button();
    text-transform: uppercase;
}
.action.primary {
    @include lib-button-primary();
    text-transform: uppercase;
}

.clerk-live-cta-button.action.primary {
    width: auto;
}
