$layout-column-main__sidebar-offset: 2%;
$layout-column__additional-sidebar-offset: $layout-column-main__sidebar-offset;

//
//  Common
//  _____________________________________________

.columns {
    @include lib-layout-columns();

    .column.main {
        @extend .abs-add-box-sizing;
        padding-bottom: $indent__xl;
        flex-basis: 100%;
        flex-grow: 1;
        order: 1;
        width: 100%;
    }

    .sidebar-main {
        @extend .abs-add-box-sizing;
        flex-grow: 1;
        flex-basis: 100%;
        order: 1;
    }

    .sidebar-additional {
        @extend .abs-add-box-sizing;
        flex-grow: 1;
        flex-basis: 100%;
        order: 2;
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
    .navigation,
    .page-header .header.panel,
    .header.content,
    .container-custom,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container {
        padding-left: $layout__width-xs-indent;
        padding-right: $layout__width-xs-indent;
    }

    .page-main {
        .account &,
        .cms-privacy-policy & {
            padding-top: 41px;
            position: relative;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .navigation,
    .page-header .header.panel,
    .header.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .container-custom {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: $layout__max-width;
        padding-left: $layout-indent__width;
        padding-right: $layout-indent__width;
        width: auto;
    }

    .container-custom {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        .ie9 & {
            width: auto;
        }
    }

    .columns {
        display: block;
    }

    .column.main {
        @extend .abs-add-box-sizing-desktop;
        @include lib-layout-columns__main();
        min-height: 300px;
    }

    .sidebar-main {
        @extend .abs-add-box-sizing-desktop;
        @include lib-layout-columns__left();
        padding-right: $layout-column-main__sidebar-offset;
    }

    .page-layout-2columns-right .sidebar-main {
        padding-left: $layout-column-main__sidebar-offset;
        padding-right: 0;
    }

    .sidebar-additional {
        @extend .abs-add-box-sizing-desktop;
        @include lib-layout-columns__right();
        clear: right;
        padding-left: $layout-column__additional-sidebar-offset;
    }

    .page-layout-2columns-left {
        .sidebar-additional {
            clear: left;
            float: left;
            padding-left: 0;
            padding-right: $layout-column__additional-sidebar-offset;
        }
    }

    .panel.header {
        padding: 10px 20px;
    }
}

/* CLERK */

div#clerk-search-filters {
    float: left;
    width: 25%;
    margin-right: 15px;
}


/* MOBILE UPDATES */

.block-static-block.widget, .block-cms-link.widget {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
}

.quickorder-menu-mobile__trigger a {
    color: #fff;
}

.callback-menu-mobile__trigger a {
    color: #fff;
    text-decoration: none;
}

.quickorder-menu-mobile {
    text-align: center;
    background: #6CA4CD;
    display: none;
    margin-bottom: 20px;
}
.callback-menu-mobile {
    background: #191919;
    text-align: center;
    padding: 8px;
    display: none;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.block-static-block.widget, .block-cms-link.widget {
    margin-bottom: 0px!important;
}
@media screen and (max-width: 768px) {
  .quickorder-menu-mobile{
    display: block;
  }
  .callback-menu-mobile{
    display: block;
  }
  .legal-footer__copyright.col-xs-12.col-lg-6 {
    text-align: center;
    margin-bottom: 15px;
}
  
}

.quickorder-menu-mobile {
    text-align: center;
    background: #6CA4CD;
    padding: 8px;
    text-transform: uppercase;
}
