.homepage-hero {

    &__message {
        padding-top: 125px;
        padding-bottom: 125px;
        color: #fff;
    }

    &__heading {
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 20px;

        &--sub{
            font-size: 30px;
            display: block;
        }

        &--styled{
            display: block;
        }

    }

}

#slider {
    display: none;

    @include min-screen($screen__m) {
        display: block;

        img {
            width: 100%;

        }

        .item:nth-of-type(n+2) img {
            display: none;
        }

    }
    
}

.shop-looks {
    padding-top: 50px;

    a {
        color: $primary__color__dark;
    }

    h2 {
        text-align: center;
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    p {
        font-size: 12px;
    }

    &__category {
        margin-bottom: 16px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            left: 8px;
            right: 8px;
            top: 0;
            bottom: 5px;
            background-color: rgba(0,0,0,0);
            transition: 0.3s;
            pointer-events: none;
        }

        &:hover {
            transition: 0.3s;

            .shop-looks__category-info {
                margin-top: 15px;
                margin-left: 15px;
                transition: 0.3s;
            }

            .shop-looks__category-info:after {
                opacity: 1;
                color: #f0082e;
                right: 25px;
                top: 0;
            }

            &:after {
                background-color: rgba(0,0,0,.5);
            }

        }

    }

    &__category-info {
        display: inline-block;
        background-color: #fff;
        padding: 0px 20px 20px 20px;
        position: absolute;
        z-index: 5;
        transition: 0.3s;
    }

}

.samples {

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 38px;
        font-weight: 800;
    }

    a {
        color: #333;
    }

    &__block {
        position: relative;
        height: 400px;

        @include min-screen($screen__m) {
            height: 500px;
            position: static;
            margin-right: 8px;
            margin-left: 8px;

            .samples__info {
                max-width: 300px;
                position: absolute;

                p {
                    font-size: 12px;
                }

            }

            &--left {
                margin-top: 50px;

                .samples__info {
                    left: 0;
                    right: auto;
                    bottom: 100px;
                    transition: 0.3s;
                }

                &:hover {

                    .samples__info {
                        left: 30px;
                        bottom: 130px;
                    }

                }

            }

            &--right {

                .samples__info {
                    right: 0;
                    left: auto;
                    bottom: 200px;
                    transition: 0.3s;
                }

                &:hover {

                    .samples__info {
                        right: 30px;
                        bottom: 230px;
                    }
                    
                }

            }

        } // close media query

        @include min-screen($screen__l) {
            height: 600px;
        }

    }

    &__info {
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 30px 50px 30px;
        text-align: left;
    }

    @include min-screen($screen__m) {
        position: relative;
    } // close media query

}

.marketing-blocks {
    clear: both;
    padding-top: 30px;
    padding-bottom: 50px;

    a {

        &:hover {
            text-decoration: none;
        }

    }

    &_bg {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.7);
            transition: 0.3s;
        }

        &:hover:after {
            background-color: rgba(0,0,0,0.6);
        }

    }

    &__content {
        color: #fff;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        z-index: 10;
        transition: 0.3s;

        &:hover {
            padding-top: 130px;
            padding-bottom: 170px;
        }

        h2 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            z-index: 2;
            margin-top: 0px;
        }

        p {
            font-size: 12px;
            z-index: 2;
        }

    }

}

.pages {
    @include lib-pager();

    .action {
        width: 34px;

        &.previous {
            margin-right: 12px;
        }

        &.next {
            margin-left: 12px;
        }
    }
}

.cms-design-space {

    iframe {
        border: none;
        width: 100%;
        height: 800px;
    }

}

.sampleroom-cart-form {
    margin-top: 30px;

    @include min-screen($screen__l) {
        margin: 30px auto;
        text-align: center;
        max-width: 50%;

        form {
            text-align: left;
        }

    }

}

.member {
    h2 {
        min-height: 56px;
    }
}