<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your SampleRoom order confirmation" }} @-->
<!--@vars {
"layout handle=\"sales_email_sample_order_items\" order=$order area=\"frontend\"":"Order Items Grid",

} @-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<table cellspacing="0" style="border-collapse: collapse;">
    <tr class="sample-email-information">
        <td>
            <table class="sample-order-details">
                <tr>
                    <td class="address-details" style="padding-top: 20px;padding-bottom: 20px; padding-left: 25px;">
                        <p>{{var address_html|raw}}</p>
                    </td>
                </tr>
                <tr class="sample-email-summary" style="padding-top:40px;">
                    <td>
                        <p>{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$order_id |raw}}<br />
                            {{trans 'Placed on: <span class="no-link">%created_at</span>' created_at=$created_at |raw}}<br />
                            {{trans 'Placed from: <span class="no-link">%customer_email</span>' customer_email=$customer_email |raw}}<br />
                            {{trans 'Account number: <strong><span class="no-link">%account_number</span></strong>' account_number=$customer_account_number |raw}}</p>
                    </td>
                </tr>
            </table>
            {{layout handle="sales_email_sample_order_items" order=$order area="frontend"}}
        </td>
    </tr>
</table>
