<div class="file item" data-role="image">
    <div class="file-preview-wrapper" css="'no-image': !$parent.checkIfFileImage($file)">
        <a attr="href: $parent.getFilePreview($file)" target="_blank">
            <img    if="$parent.checkIfFileImage($file)"
                    class="file-image"
                    data-role="image-element"
                    tabindex="0"
                    event="load: $parent.onPreviewLoad.bind($parent)"
                    attr="src: $parent.getFilePreview($file),
                    alt: $file.name">
            <div ifnot="$parent.checkIfFileImage($file)" style="width: 100%; height: 100%;"></div>
        </a>
        <div class="actions">
            <button type="button"
                    class="action-remove"
                    data-role="delete-button"
                    attr="title: $t('Delete file')"
                    click="$parent.removeFile.bind($parent, $file)">
                <span translate="'Delete file'"/>
            </button>
        </div>
        <div class="image-fade"><span>Hidden</span></div>
    </div>

    <div class="item-description">
        <div class="item-title" data-role="img-title" text="$file.name"/>
        <div class="item-size">
            <span if="$parent.checkIfFileImage($file)"
                  data-role="file-dimens">
                <text args="$file.previewWidth"/>x<text args="$file.previewHeight"/>,
            </span>
            <span data-role="file-size"><text args="$parent.formatSize($file.size)"/></span>
        </div>
    </div>
</div>
